@charset "ISO-8859-1";


#headerRow {
	background-color: #3c4ffd;
	width: 100%;
    display: flex;
    height: 5%;
    margin-bottom: 25px;
}

#imageColumn {
	display: flex;
	position: relative;
	width: 10%;
}

#userColumn {
	display: flex;
	position: relative;
	align-items: center;
	width: 10%;
}

#titleColumn {
	display: flex;
	position: relative;
	align-items: center;
	width: 90%;
}



#userContainer {
	width: 100%;
	position: relative;
}

#nickname {
	color: white;
	margin: auto;
}

#userIcon {
    font-size: 30px;
    color: white;
    margin:auto;
}

#iconRow{
	display: flex;
	margin-bottom: 3px;
	width: 100%;
	height: 80%;
}

#nicknameRow {
	 display: flex;
	width: 100%;
	height: 20%;
}

#accentureLogo {	
    width: 100%;
    position: relative;
    margin-left: 10px;
}

header{
    display: flex; 
	background-color: #3c4ffd;
    justify-content: space-between;
    align-items: center;
        margin-bottom: 50px;
}

@media (max-width: 1000px){
    header{
        /* Reverse the axis of the header, making it vertical. */
        flex-direction: column;

        /* Align items to the begining (the left) of the header. */
        align-items: flex-start;
    }
    #userIcon {
    	display: none;
    }
    
}

@media only screen and (max-width:640px){
	 #userIcon {
    	display: none;
    }
	#nickname {
   	font-size: 3px;
   }	
}