
<div class="cd-popup-container" id="approveDateModal">
	<div class="col-lg-8 col-lg-offset-2" id="modalColumn">
		<div class="modal-container" id="containerInsert">
			<div class="row">
				<div class="row" id="containerHeaderRow">
					<div class="col-lg-8 col-lg-offset-2" id="headerLabelColumn" style="width:40%">
						<label class="containerLabel">Approve date</label> 
					</div>
					<div class="col-lg-8 col-lg-offset-2" id="headerSpaceColumn">  
                             
                    </div>
                    <div class="col-lg-8 col-lg-offset-2" id="headerIconColumn">
                    	<div id="iconContainer">    
						     <div class="row">
									<em id="closeModal" class='bx bx-x'></em>
						     </div>    
						</div>	
                    </div>					
				</div>
				<form class="modal-form" id="approveAvailability" action="#"
					th:action="@{/availability/approve}"
					th:object="${approveAvailabilityTO}" method="post">
					<div class="col-lg-8 col-lg-offset-2" id="approveDateFormColumn">
						<div class="row">
							<div class="column">
								<div class="form-group">
									<label>Interviewer availabilities</label> <input id="approvedIntId"
										type="hidden" th:field="*{interviewId}" value=0 /> <select
										class="formcontrol selectpicker" th:field="*{approvedDate}" 
										id="approvedDate">
									</select>
								</div>
							</div>
						</div>
							<div class="row">
							<div class="column">
								<div class="form-group">
									<label>New date</label>
									<input id="thirdAvDate" type="text" data-field="datetime" th:field="*{newDate}">
										 <div id="avBox4"></div>
								</div>
							</div>
						</div>
						<div class="row" id="singleButtonRow">
							<div class="button-column">
								<div class="form-group">
									<button id="btn_approve_submit" class="submit-spinner" 
									        type="submit" onclick="this.classList.toggle('submit-spinner--loading')">
									<span class="button-text">Submit</span></button>									
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>