
<div class="cd-popup-container" id="availabilityTableModal">
	<div class="col-lg-8 col-lg-offset-2" id="modalColumn">
		<div class="modal-container" id="containerInsertAvailability">
			<div class="row">
				<div class="row" id="containerHeaderRow">
					<div class="col-lg-8 col-lg-offset-2" id="headerLabelColumn" style="width:40%">
						<label class="containerLabel">Interview availability</label> 
					</div>
					<div class="col-lg-8 col-lg-offset-2" id="headerSpaceColumn">  
                             
                    </div>
                    <div class="col-lg-8 col-lg-offset-2" id="headerIconColumn">
                    	<div id="iconContainer">    
						     <div class="row">
									<em id="closeModal" class='bx bx-x'></em>
						     </div>    
						</div>	
                    </div>
                    
					
				</div>
				<form class="modal-form" id="insertAvailability" action="#"
					th:action="@{/availability/insert}"
					th:object="${insertAvailabilityTO}" method="post">
					<div class="col-lg-8 col-lg-offset-2" id="modalFormColumn">
						<div class="row" id="availabilityDateRow">
							<div class="column">
								<div class="form-group">
									<label>First date</label> <input id="interviewIdHid"
										type="hidden" th:field="*{interviewId}" value=0 /> <input
										id="firstAvDate" class="datePicker" type="datetime-local"
										th:field="*{firstDate}" />
								</div>
							</div>
							<div class="column">
								<div class="form-group">
									<label>Second date</label> <input id="secondAvDate"
										class="datePicker" type="datetime-local"
										th:field="*{secondDate}" />
								</div>
							</div>
							<div class="column">
								<div class="form-group">
									<label>Third date</label> <input id="thirdAvDate"
										class="datePicker" type="datetime-local"
										th:field="*{thirdDate}" />
								</div>
							</div>
						</div>
						<div class="row" id="twoButtonRow">
							<div class="button-column">
								<div class="form-group">
									<button id="btn_submit" class="submit-spinner"   style="margin-left: 40%;"
									        type="submit" onclick="this.classList.toggle('submit-spinner--loading')">
									<span class="button-text">Submit</span></button>		
								</div>
							</div>
							<div class="button-column">
								<div class="form-group">	
									<button class="submit-button" form="refuseAvailability" type="submit"  style="margin-right: 40%;">Reject</button>													
								</div>
							</div>
						</div>
					</div>
				</form>
				<form class="modal-form" id="refuseAvailability" action="#"
					th:action="@{/availability/refuse}" method="post">
					<input id="interviewIdHid2" type="hidden" th:name="interviewId"  value=0 /> 
				</form>
			</div>
		</div>
	</div>
</div>