
<div class="cd-popup-container" id="availabilityTableModal">
	<div class="col-lg-8 col-lg-offset-2" id="modalColumn">
		<div class="container" id="containerInsert">
			<div class="row">
				<header class="containerHeader">
					<label class="containerLabel">Interview availability</label> <em
						id="closeModal" class='bx bx-x'></em>
				</header>
				<form class="inp-form" id="insertAvailability" action="#"
					th:action="@{/availability/insert}"
					th:object="${insertAvailabilityTO}" method="post">
					<div class="col-lg-8 col-lg-offset-2" id="modalFormColumn">
						<div class="row" id="availabilityDateRow">
							<div class="column">
								<div class="form-group">
									<label>First date</label> <input id="interviewIdHid"
										type="hidden" th:field="*{interviewId}" value=0 /> <input
										id="firstAvDate" class="datePicker" type="datetime-local"
										th:field="*{firstDate}" />
								</div>
							</div>
							<div class="column">
								<div class="form-group">
									<label>Second date</label> <input id="thirdAvDate"
										class="datePicker" type="datetime-local"
										th:field="*{thirdDate}" />
								</div>
							</div>
							<div class="column">
								<div class="form-group">
									<label>Third date</label> <input id="secondAvDate"
										class="datePicker" type="datetime-local"
										th:field="*{secondDate}" />
								</div>
							</div>
						</div>
						<div class="row" id="twoButtonRow">
							<div class="button-column">
								<div class="form-group">
									<button class="submit-button" form="insertAvailability" type="submit" style="margin-left: 40%;">Submit</button>
								</div>
							</div>
							<div class="button-column">
								<div class="form-group">
									<button class="submit-button" form="refuseAvailability" type="submit"  style="margin-right: 40%;">Reject</button>
								</div>
							</div>
						</div>
					</div>
				</form>
				<form class="inp-form" id="refuseAvailability" action="#"
					th:action="@{/availability/refuse}" method="post">
					<input id="interviewIdHid2" type="hidden" th:name="interviewId"  value=0 /> 
				</form>
			</div>
		</div>
	</div>
</div>