
<div class="cd-popup-container" id="registerModal">
	<div class="col-lg-8 col-lg-offset-2" id="modalColumn">
		<div class="modal-container" id="containerInsert">
			<div class="row">
				<div class="row" id="containerHeaderRow">
					<div class="col-lg-8 col-lg-offset-2" id="headerLabelColumn" style="width:60%">
						<label class="containerLabel">Change Password</label> 
					</div>
					<div class="col-lg-8 col-lg-offset-2" id="headerSpaceColumn">                             
                    </div>
                    <div class="col-lg-8 col-lg-offset-2" id="headerIconColumn">
                    	<div id="iconContainer">    
						     <div class="row">
									<em id="closeModal" class='bx bx-x'></em>
						     </div>    
						</div>	
                    </div>					
				</div>
				<div class="col-lg-8 col-lg-offset-2" id="registerUserColumn">										
					<form id="changePasswordUser" class="modal-form" action="#"
						th:action="@{/interviewer/change-pwd}" th:object="${changePasswordInterviewerTO}" method="post">						
						<div class="form-group">						
							<div class="row">
								<div class="column" style= "width: 100%">
									<div class="form-group">
										<label>Enterprise id</label> <input id="userInputEntId" th:field="*{enterpriseId}" />
									</div>
									<div class="form-group">
										<input id="userInputId" type="hidden" th:field="*{id}" />
									</div>									
								</div>
							</div>							
							<div class="row">
								<div class="column" id="rbResponsibleColumn" style= "width: 100%">
									<div class="form-group">
										<label>Old Password</label>
										<div class="form-group">
											<div class="input-icons">
												<i class='bx bx-low-vision icon' id="toggleOldPassword"></i>
												<input class="input-field" type="password" id="inputOldPassword" th:field="*{oldPassword}">												
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="row" style="padding-top: 0px">
								<div class="column" id="rbResponsibleColumn" style= "width: 100%;">
									<div class="form-group">
										<label>New Password</label>
										<div class="form-group">
											<div class="input-icons">
												<i class='bx bx-low-vision icon' id="toggleNewPassword"></i>											    											
												<input class="input-field" type="password" id="inputNewPassword" th:field="*{newPassword}">																																			
											</div>
										</div>
									</div>
								</div>
							</div>							
							
							<div class="row" id="registerSingleButtonRow">
								<div class="button-column" style="padding-top: 8px;">
									<div class="form-group">
										<button id="btn_modify_pwd_submit" class="submit-spinner" 
										        type="submit" onclick="this.classList.toggle('submit-spinner--loading')">
										<span class="button-text">Submit</span></button>										
									</div>
								</div>
							</div>
							<br><br><br>
						</div>
					</form>
				</div>				
			</div>
		</div>
	</div>
</div>