
<div class="row" id="headerRow">
	<div class="col-lg-8 col-lg-offset-2" id="imageColumn">
		<img id="accentureLogo" src="../static/images/accenture-logo.png"
			th:src="@{/images/accenture-logo.png}" alt="logo" />
	</div>

	<div class="col-lg-8 col-lg-offset-2" id="titleColumn"></div>

	<div class="col-lg-8 col-lg-offset-2" id="userColumn">
		<div id="userContainer">
			<div class="row" id="iconRow">
				<div th:if="${interviewer != null}">
					<em id="userIcon" class="bx bx-log-out-circle"></em> 
				</div>
			</div>
			<div class="row" id="nicknameRow">
				<label th:if="${interviewer == null}" id="nickname"></label> <label
					th:unless="${interviewer == null}"
					th:text="${interviewer.enterpriseId}" id="nickname">User</label>
			</div>
		</div>
	</div>
</div>
