
<div class="cd-popup-container" id="assignModal">
	<div class="col-lg-8 col-lg-offset-2" id="modalColumn">
		<div class="modal-container" id="containerInsert">
			<div class="row">
					<div class="row" id="containerHeaderRow">
					<div class="col-lg-8 col-lg-offset-2" id="headerLabelColumn" style="width:60%">
						<label class="containerLabel">Assign interviewer</label> 
					</div>
					<div class="col-lg-8 col-lg-offset-2" id="headerSpaceColumn">  
                    </div>
                    <div class="col-lg-8 col-lg-offset-2" id="headerIconColumn">
                    	<div id="iconContainer">    
						     <div class="row">
									<em id="closeModal" class='bx bx-x'></em>
						     </div>    
						</div>	
                    </div>
                    
					
				</div>
				<form id="assignInterview" action="#"
					th:action="@{/interview/assign}"
					th:object="${assignInterviewTO}" method="post">
					<div class="col-lg-8 col-lg-offset-2" id="approveDateFormColumn">
						<div class="row">
							<div class="column">
								<div class="form-group">
									<label id="assignInterviewerLabel">Interviewer</label> <input id="assignIntId"
										type="hidden" th:field="*{interviewId}" value=0 /> 
									 <select class="formcontrol selectpicker" th:field="*{enterpriseId}" id="reassignInterview">
                                                            <option value="">Nothing selected</option>
                                                             <option th:each="interviewer : ${interviewerList}" th:value="${interviewer.enterpriseId}" th:text="${interviewer.enterpriseId}">                                                              
                                                            </option>
                                       </select>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="column">
								<div class="form-group">
									<label>Interview date</label> 
										<input type="text" data-field="datetime" th:field="*{interviewDate}">
										 <div id="avBox5"></div>
								</div>
							</div>
						</div>
						<div class="row" id="singleButtonRow">
							<div class="button-column">
								<div class="form-group">
									<button id="btn_assign_submit" class="submit-spinner"
									        type="submit" onclick="this.classList.toggle('submit-spinner--loading')">
									<span class="button-text">Submit</span></button>	
								</div>
							</div>
							
							
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>