
<div class="cd-popup-container" id="registerModal">
	<div class="col-lg-8 col-lg-offset-2" id="modalColumn">
		<div class="modal-container" id="containerInsert">
			<div class="row">
				<div class="row" id="containerHeaderRow">
					<div class="col-lg-8 col-lg-offset-2" id="headerLabelColumn" style="width:40%">
						<label class="containerLabel">Modify user</label> 
					</div>
					<div class="col-lg-8 col-lg-offset-2" id="headerSpaceColumn">  
                             
                    </div>
                    <div class="col-lg-8 col-lg-offset-2" id="headerIconColumn">
                    	<div id="iconContainer">    
						     <div class="row">
									<em id="closeModal" class='bx bx-x'></em>
						     </div>    
						</div>	
                    </div>
                    
					
				</div>
				<div class="col-lg-8 col-lg-offset-2" id="registerUserColumn">
					<form id="modifyUser" class="modal-form" action="#"
						th:action="@{/interviewer/modify}" th:object="${modifyUserTO}"
						method="post">
						<div class="form-group">						
							<div class="row">
								<div class="column" style= "width: 100%">
									<div class="form-group">
										<label>Enterprise id</label> 
										<input id="userEntId" th:field="*{enterpriseId}" />
									</div>
									<div class="form-group">
										<input id="userId" type="hidden" th:field="*{id}" />
									</div>									
								</div>
							</div>
								<div class="row">
								<div class="column" style= "width: 100%">
									<div class="form-group">
										<label>Mail</label> 
										<input id="userMail" th:field="*{mail}" />
									</div>								
								</div>
							</div>								
							<div class="row">
								<div class="column" id="rbResponsibleColumn">
									<div class="form-group">
										<label>Responsible</label>
										<div class="rbColumn">
											<input type="radio" id="option_resp_yes" name="option_resp"
												value="1" th:field="*{isResponsible}"> <label
												for="option_resp_yes">Yes</label>
										</div>
										<div class="rbColumn">
											<input type="radio" id="option_resp_no" name="option_resp"
												value="2" th:field="*{isResponsible}"> <label
												for="option_resp_no">No</label>
										</div>
									</div>
								</div>
							</div>

							<div class="row" id="registerSingleButtonRow">
								<div class="button-column">
									<div class="form-group">
										<button id="btn_modify_submit" class="submit-spinner" 
										        type="submit" onclick="this.classList.toggle('submit-spinner--loading')">
										<span class="button-text">Submit</span></button>										
									</div>
								</div>
							</div>
							<br><br><br>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>