                                <div class="cd-popup-container" id="motivationalTableModal">
                                		<div class="container" id="containerDetailMotFeedback">
					                            <div class="row">
					                                <header id="containerInsertMotHeader">
					                                    <label id="interviewInformations">Feedback informations </label>
					                                    <a  href="#" onclick="closeMotivationModal()"  class="close" ><em id="closeMotModal" class="fa-solid fa-xmark"></em></a>
					                                </header>
					                                <div class="col-lg-8 col-lg-offset-2">					                                             
					                                	<div class="row">
					                                            <div class="column">
					                                                <div class="form-group">
					                                                    <label><em class="fa fa-edit"></em> Standing</label>
					                                                    <input id="motStanding" type="number" value="0" readonly />
					                                                </div>
					                                            </div>
					                                             <div class="column">
					                                                <div class="form-group">
					                                                    <label><em class="fa fa-tachometer"></em> Motivation</label>
					                                                    <input id="motMotivation" type="number" value="0"  readonly/>
					                                                </div>
					                                            </div>
					                                  </div>
					                                        <div class="row" id="backgroundRow">
					                                         	<div class="column">
					                                                <div class="form-group">
					                                                    <label><em class="fa fa-mortar-board"></em> School Background</label>
					                                                    <input id="motSchool" type="number" value="0"  readonly />					                                                 
					                                                </div>
					                                            </div>
					                                     		<div class="column">
					                                                <div class="form-group">
					                                                    <label><em class="fa fa-language"></em> English Level</label>
					                                                    <input id="motEnglish" type="number" value="0"  readonly />
					                                                </div>
					                                            </div>
					                                            <div class="column">
					                                                <div class="form-group">
					                                                    <label><em class="fa fa-code"></em> Soft Skills</label>
					                                                    <input id="motSkills" type="number" value="0"  readonly />
					                                                </div>
					                                            </div>
					                                            
					                                   </div>
					                                        <div class="row">					                                  
					                                            <div class="column">
					                                                <div class="form-group">
					                                                    <label><em class="fa fa-gear"></em> Logic Question</label>
					                                                    <input id="motLogic" type="number" value="0"  readonly />
					                                                </div>
					                                            </div>
					                                             <div class="column">
					                                            <div class="form-group">
					                                                <label><em class="fa fa-microchip"></em> Tech Question</label>
					                                                <input id="motTech" type="number" value="0"  readonly/>
					                                            </div>
					                                        </div>
					                                        </div>				                                       
					                                        <div class="row">
					                                            <div class="one-column">
					                                                <div class="form-group">
					                                                    <label><em class="fa-solid fa-square-code"></em> Comment</label>
					                                                    <textarea id="motComment" name="subject" placeholder="Write something.." style="height: 200px;" readonly></textarea>
					                                                </div>
					                                            </div>
					                                        </div>
					                                </div>
					                            </div>
					                        </div>                               
                                </div>