
<div class="cd-popup-container" id="motivationalTableModal">
	<div class="col-lg-8 col-lg-offset-2" id="modalColumn">
		<div class="container" id="containerInsert">
			<div class="row">
			<div class="row" id="containerHeaderRow">
					<div class="col-lg-8 col-lg-offset-2" id="headerLabelColumn" style="width:40%">
						<label class="containerLabel">Feedback detail</label> 
					</div>
					<div class="col-lg-8 col-lg-offset-2" id="headerSpaceColumn">  
                             
                    </div>
                    <div class="col-lg-8 col-lg-offset-2" id="headerIconColumn">
                    	<div id="iconContainer">    
						     <div class="row">
									<em id="closeModal" class='bx bx-x'></em>
						     </div>    
						</div>	
                    </div>
                    
					
				</div>
				<div class="col-lg-8 col-lg-offset-2" id="modalFormColumn">
					<div class="row">
						<div class="column">
							<div class="form-group">
								<label>Standing</label> <input id="motStanding" type="number"
									value="0" readonly />
							</div>
						</div>
						<div class="column">
							<div class="form-group">
								<label>Motivation</label> <input id="motMotivation"
									type="number" value="0" readonly />
							</div>
						</div>
						<div class="column">
							<div class="form-group">
								<label>School Background</label> <input id="motSchool"
									type="number" value="0" readonly />
							</div>
						</div>
					</div>
					<div class="row">
						<div class="column">
							<div class="form-group">
								<label>English Level</label> <input id="motEnglish"
									type="number" value="0" readonly />
							</div>
						</div>
						<div class="column">
							<div class="form-group">
								<label> Logic Question</label> <input id="motLogic"
									type="number" value="0" readonly />
							</div>
						</div>
						<div class="column">
							<div class="form-group">
								<label>Tech Question</label> <input id="motTech" type="number"
									value="0" readonly />
							</div>
						</div>
					</div>
					<div class="row">
						<div class="one-column">
							<div class="form-group">
								<label>Comment</label>
								<button class="collapsible">
									<em id="collapseIcon" class='bx bx-minus'></em>
								</button>
								<textarea id="motComment" class="content" name="subject"
									style="height: 200px; overflow-y: scroll;" readonly></textarea>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>