
<div class="cd-popup-container" id="reassignModal">
	<div class="col-lg-8 col-lg-offset-2" id="modalColumn">
		<div class="container" id="containerInsert">
			<div class="row">
				<header class="containerHeader">
					<label class="containerLabel">Reassign interview</label> <em
						id="closeModal" class='bx bx-x'></em>
				</header>
				<form class="inp-form" id="reassignInterview" action="#"
					th:action="@{/availability/reassign}"
					th:object="${reassignInterviewTO}" method="post">
					<div class="col-lg-8 col-lg-offset-2" id="approveDateFormColumn">
						<div class="row">
							<div class="column">
								<div class="form-group">
									<label>Interviewer</label> <input id="reassignIntId"
										type="hidden" th:field="*{interviewId}" value=0 /> 
									 <select class="formcontrol selectpicker" th:field="*{enterpriseId}" id="reassignInterview">
                                                            <option value="">Nothing selected</option>
                                                             <option th:each="interviewer : ${interviewerList}" th:value="${interviewer.enterpriseId}" th:text="${interviewer.enterpriseId}">                                                              
                                                            </option>
                                       </select>
								</div>
							</div>
						</div>
						<div class="row" id="singleButtonRow">
							<div class="button-column">
								<div class="form-group">
									<button class="submit-button" type="submit">Submit</button>
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>