
<div class="cd-popup-container" id="rescheduledModal">
	<div class="col-lg-8 col-lg-offset-2" id="modalColumn">
		<div class="modal-container" id="containerInsert" style="padding-bottom: 10px;">
			<div class="row">
					<div class="row" id="containerHeaderRow" style="padding-bottom: 10px;">
					<div class="col-lg-8 col-lg-offset-2" id="headerLabelColumn" style="width:70%">
						<label class="containerLabel">Rescheduled interview</label> 
					</div>
					<div class="col-lg-8 col-lg-offset-2" id="headerSpaceColumn">  
                    </div>
                    <div class="col-lg-8 col-lg-offset-2" id="headerIconColumn">
                    	<div id="iconContainer">    
						     <div class="row">
									<em id="closeModal" class='bx bx-x'></em>
						     </div>    
						</div>	
                    </div>
                    
					
				</div>
				<form class="modal-form" id="acceptRescheduling" action="#"
					th:action="@{/availability/accept}"
					th:object="${rescheduledAvailabilityTO}" method="post" style="padding-left: 0px; padding-right: 0px;">
					<div class="col-lg-8 col-lg-offset-2" id="approveDateFormColumn">
						<div class="row">
							<div class="column">
								<div class="form-group">
									<label id="rescheduleDateLabel">Date</label> 
									<input id="rescheduleIntId" type="hidden" value=0 th:field="*{interviewId}"/> 
									<input id="rescheduleIntDate" type="text" readonly th:field="*{newDate}" />  
                                       
								</div>
							</div>
						</div>
					<div class="row" id="twoButtonRow">
							<div class="button-column">
								<div class="form-group">
									<button id="btn_submit" class="submit-spinner"   style="margin-left: 40%; width: 45%;"
									        type="submit" onclick="this.classList.toggle('submit-spinner--loading')">
									<span class="button-text">Accept</span></button>		
								</div>
							</div>
							<div class="button-column">
								<div class="form-group">	
									<button class="submit-button" type="submit" form="refuseAvailability2"  style="margin-right: 40%; width: 45%;">Reject</button>													
								</div>
							</div>
						</div>
					</div>
					</form>
					<form class="modal-form" id="refuseAvailability2" action="#" th:action="@{/availability/refuse}" method="post">
						<input id="rescheduleIntId2" type="hidden" th:name="interviewId"  value=0 /> 
					</form>
			</div>
		</div>
	</div>
</div>