<div class="cd-popup-container2" id="techTableModal">
		<div class="col-lg-8 col-lg-offset-2" id="modalColumn">
              <div class="container" id="containerInsert">
                     <div class="row">
                       <header class="containerHeader">
                            <label class="containerLabel">Feedback detail</label>
                        </header>
                        <div class="col-lg-8 col-lg-offset-2" id="modalFormColumn">
                                     <div class="row">
                                       <div class="column">
                                          <div class="form-group">
                                             <label>Java</label>
                                             <input id="techJava" type="number"  value="0" readonly/>
                                          </div>
                                       </div>
                                       <div class="column">
                                          <div class="form-group">
                                             <label>Spring</label>
                                             <input id="techSpring" type="number"  value="0" readonly/>
                                          </div>
                                       </div>
                                       <div class="column">
                                          <div class="form-group">
                                             <label>SQL</label>
                                             <input id="techSql" type="number"  value="0" readonly/>
                                          </div>
                                       </div>
                                    </div>
                                    <div class="row">
                                    	<div class="column">
                                          <div class="form-group">
                                             <label>HTML-CSS</label>
                                             <input id="techHtml" type="number"  value="0" readonly/>
                                          </div>
                                       </div>
                                       <div class="column">
                                          <div class="form-group">
                                             <label>Angular</label>
                                             <input id="techAngular" type="number"  value="0" readonly/>
                                          </div>
                                       </div>
                                        <div class="column">
                                          <div class="form-group">
                                             <label>Other</label>
                                             <input id="techOther" type="number"  value="0" readonly>
                                          </div>
                                       </div>
                                    </div>
                                    <div class="row">
                                          <div class="one-column">
                                             <div class="form-group">
                                                <label>Comment</label> <button class="collapsible"><em id="collapseIcon" class='bx bx-plus'></em></button>
                                                <textarea id="techComment"  class="content" name="subject"  style="height:200px" readonly></textarea>
                                             </div>
                                          </div>
                                       </div>
                              </div>                          
                        </div>
                     </div>   
            </div>                        
 </div>