<div class="cd-popup-container2" id="techTableModal">
	<div class="col-lg-8 col-lg-offset-2" id="modalColumn">
		<div class="container" id="containerInsert">
			<div class="row">
				<header class="containerHeader">
					<label class="containerLabel">Feedback detail</label> <em
						id="closeModal" class='bx bx-x'></em>
				</header>
				<div class="col-lg-8 col-lg-offset-2" id="modalFormColumn">
					<div class="row">
						<div id="tech_col_1" class="column" style="display: none;">
							<div class="form-group">
								<label id="tech_descr_1"></label> 
								<input id="tech_score_1" type="number" readonly />
							</div>
						</div>
						<div id="tech_col_2" class="column" style="display: none;">
							<div class="form-group">
								<label id="tech_descr_2"></label> 
								<input id="tech_score_2" type="number" readonly />
							</div>
						</div>
						<div id="tech_col_3" class="column" style="display: none;">
							<div class="form-group">
								<label id="tech_descr_3"></label> 
								<input id="tech_score_3" type="number" readonly />
							</div>
						</div>
					</div>
					<div class="row">
						<div id="tech_col_4" class="column" style="display: none;">
							<div class="form-group">
								<label id="tech_descr_4"></label>
								<input id="tech_score_4" type="number" readonly />
							</div>
						</div>
						<div id="tech_col_5" class="column" style="display: none;">
							<div class="form-group">
								<label id="tech_descr_5"></label>
								<input id="tech_score_5" type="number" readonly />
							</div>
						</div>
						<div id="tech_col_6" class="column" style="display: none;">
							<div class="form-group">
								<label id="tech_descr_6"></label> 
								<input id="tech_score_6" type="number" readonly />
							</div>
						</div>
					</div>
					<div class="row">
						<div class="one-column">
							<div class="form-group">
								<label>Comment</label>
								<button class="collapsible">
									<em id="collapseIcon2" class='bx bx-plus'></em>
								</button>
								<textarea id="techComment" class="content" name="subject"
									style="height: 200px" readonly></textarea>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>