                             <div class="cd-popup-container2" id="techTableModal">
                                		 <div class="container" id ="containerDetailTechF">
                     <div class="row">
                        <header id="containerInsertMotHeader">
                           <label id="interviewInformations">Feedback informations </label>
                            <a  href="#" onclick="closeTechModal()"  class="close" ><em id="closeTechModal" class="fa-solid fa-xmark"></em></a>
                        </header>
                        <div class="col-lg-8 col-lg-offset-2">
                                     <div class="row">
                                       <div class="column">
                                          <div class="form-group">
                                             <label><em class="fa-brands fa-java"></em> Java</label>
                                             <input id="techJava" type="number"  value="0" readonly/>
                                          </div>
                                       </div>
                                       <div class="column">
                                          <div class="form-group">
                                             <label><em class="fa-solid fa-laptop-code"></em> Spring</label>
                                             <input id="techSpring" type="number"  value="0" readonly/>
                                          </div>
                                       </div>
                                    </div>
                                    <div class="row">
                                       <div class="column">
                                          <div class="form-group">
                                             <label><em class="fa fa-html5"></em> HTML <em class="fa-brands fa-css3-alt"></em> CSS</label>
                                             <input id="techHtml" type="number"  value="0" readonly/>
                                          </div>
                                       </div>
                                       <div class="column">
                                          <div class="form-group">
                                             <label><em class="fa-brands fa-angular"></em> Angular</label>
                                             <input id="techAngular" type="number"  value="0" readonly/>
                                          </div>
                                       </div>
                                    </div>
                                    <div class="row">                                     
                                       <div class="column">
                                          <div class="form-group">
                                             <label><em class="fa-solid fa-code"></em> Other</label>
                                             <input id="techOther" type="number"  value="0" readonly>
                                          </div>
                                       </div>
                                       <div class="column">
                                          <div class="form-group">
                                             <label><em class="fa-solid fa-database"></em> SQL</label>
                                             <input id="techSql" type="number"  value="0" readonly/>
                                          </div>
                                       </div>
                                    </div>
                                    <div class="row">
                                          <div class="one-column">
                                             <div class="form-group">
                                                <label><em class="fa-solid fa-pen-to-square"></em> Comment</label>
                                                <textarea id="techComment" name="subject"  style="height:200px" readonly></textarea>
                                             </div>
                                          </div>
                                       </div>
                              </div>                          
                        </div>
                     </div>                          
 </div>