@charset "ISO-8859-1";

#accessUsername {
	width: 100%;
}

#accessFormColumn {
	padding: 20px;
	background-color: white;
	display: inline-block;
	border-radius: 5px;
	width: 100%;
}

#accessFormColumn .column {
	width: 100%;
}

#containerAccess {
	width: 35%;
    height: 57%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 12.5%;
    min-width: 350px;
    min-height: 330px;
}

#userAccess {
	padding-top:0px;
}

#accessBackGround {
	position: relative;
    z-index: 1;
}

#errorBkg {
	position: relative;
    z-index: 1;
}

#backImageErr {
	height: 120.6%;
}

.bg {
	display: flex;
	position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: .7;
    width: 100%;
    height: 139.5%;
}

#bgImage {
	width: 100%;
	height: 100%;
	background-size: cover;
}

#accessPageColumn {
	width: 100%;
}