@charset "ISO-8859-1";

.container {
    width: 100%;
    background-color: #e3e4e8;
    padding-top: 12px;
    padding-right: 20px;
    padding-bottom: 12px;
    padding-left: 20px;
   	border-radius: 5px;
    text-align: left;
    position: relative;
}

.containerHeader {
	padding-bottom: 23px;
}

.containerLabel {
	font-size: 16px;
    color: black;
    line-height: 1em;
}

.inp-form label{
	font-family: sans-serif;
	font-size:15px;
	margin:4px;
	padding: 2px 2px 2px 0;
  	display: inline-block;
  	color: black;
}

#insertFormColumn {
	background-color: white;
	border-radius: 5px;
}

#registerUserColumn {
	background-color: white;
	border-radius: 5px;
}

#insertInterview {
	padding-bottom: 40px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
}

#registerUser {
	padding-bottom: 40px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
}

#buttonRow {
    padding-top: 15px;
    padding-bottom: 20px;
}


#cv {
	padding: 3px;
}

#buttonRow .column{
	width: 50%;
}


#searchInterview {
    padding-bottom: 40px;
    padding-left: 10px;
     padding-right: 10px;
    padding-top: 10px;
}


#mytable {
    margin-top: 50px;
    line-height: 1.5em;
}


/* CONTAINER IN PROGRESS*/

#containerInProgress {
	width: 100%;
    margin-left: 5%;
    margin-right: 5%;
}

#containerInProgressHeader {
	 height: 45px;
    position: relative;
    width: 100.2%;
    margin-bottom: 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-top: -1px;
    margin-left: -1px;
}

#inProgressColumn {
	padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
}


/* CONTAINER MY INTERVIEWS*/

#containerMyInterviews {
	width: 100%;
    margin-left: 5%;
    margin-right: 5%;
    padding-bottom: 40px;
}

#containerMyInterviewsHeader {
	height: 45px;
    position: relative;
    width: 100.2%;
    margin-bottom: 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-top: -1px;
    margin-left: -1px;
}

#myInterviewsColumn {
	padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
}



/*MOTIVATIONAL FEEDBACK CONTAINER */
#containerInsertMotHeader {
	height: 45px;
    position: relative;
    width: 100.2%;
    margin-bottom: 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-top: -1px;
    margin-left: -1px;
}


#containerMotivationF {
	width: 100%;
    margin-left: 5%;
    margin-right: 5%;
}

#backgroundRow .column {
	width: 33%;
}

#questionRow .column {
	width: 33%;
}

#insertMotivationalFeedback {
	padding-left: 30px;
    padding-right: 30px;
}

/*TECH FEEDBACK CONTAINER */
#containerTechF{
	width: 100%;
    margin-left: 5%;
    margin-right: 5%;
}


#containerInsertTechHeader {
	height: 45px;
    position: relative;
    width: 100.2%;
    margin-bottom: 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-top: -1px;
    margin-left: -1px;
}

#backendRow .column {
	width: 33%;
}

#insertTechFeedback {
	padding-left: 30px;
    padding-right: 30px;
}


/*MODALS*/

#motivationalTableModal {
	border-radius: 5px !important;
}

#registerModal {
	border-radius: 5px !important;
}

#techTableModal {
	border-radius: 5px !important;
}

#containerDetailMotFeedback {
	width: 100%;
}

containerDetailTechF
#containerDetailTechF {
	width: 100%;
}

#closeMotModal {
	color: white;
    font-size: 15px;
    margin-top: -10px;
}

#closeTechModal {
	color: white;
    font-size: 15px;
    margin-top: -10px;
}
