@charset "ISO-8859-1";

.container {
	width: 100%;
	display: flex;
	border-radius: 10px;
  	background-color: white;
  	text-align:left;
 	position: relative;
  	color:#1429eb;
  	border: 1px solid #1429eb;
  	
}


.container label{
	font-family: sans-serif;
	font-size:15px;
	margin:4px;
	padding: 2px 2px 2px 0;
  	display: inline-block;
}

/*CONTAINER INSERT */
#containerInsert {
	display: flex;
    width: 100%;
    margin-left: 5%;
    margin-right: 5%;
    padding-bottom: 10px;
}


#containerInsertHeader {
    height: 45px;
    position: relative;
    width: 100.2%;
    margin-bottom: 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-top: -1px;
    margin-left: -1px;
}

#cv {
	padding: 2.5px;
}

#insertInterview {
	padding-left: 30px;
    padding-right: 30px;
}


#anagRow .column {
	width: 33%;
}

#mailRow .column{
	width: 100%;
}

#insBackgroundRow .column{
	width: 50%;
}

#interviewRow .column {
	width: 33%;
}


#searchName{
	width: 33%;
}
#searchSurname{
	width: 33%;
}
#searchLevel{
	width: 33%;
}
#searchType{
	width: 33%;
}
#searchEnt {
	width: 33%;
}
#searchSite {
	width: 33%;
}


#enterpriseIdRow .column{
	width: 50%;
}

#buttonRow .column{
	width: 50%;
}


/*CONTAINER SEARCH */
#containerSearchHeader {
	height: 45px;
    position: relative;
    width: 100.2%;
    margin-bottom: 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-top: -1px;
    margin-left: -1px;
}

#searchInterview {
	padding-left: 30px;
    padding-right: 30px;
}

#containerSearch{
	margin-left: 5%;
    margin-right: 5%;
    padding-bottom: 10px;
}    


#searchButtonRow {
	padding-top: 3px;
}

#mytable {
    margin-top: 50px;
}


/* CONTAINER IN PROGRESS*/

#containerInProgress {
	width: 100%;
    margin-left: 5%;
    margin-right: 5%;
}

#containerInProgressHeader {
	 height: 45px;
    position: relative;
    width: 100.2%;
    margin-bottom: 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-top: -1px;
    margin-left: -1px;
}

#inProgressColumn {
	padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
}


/* CONTAINER MY INTERVIEWS*/

#containerMyInterviews {
	width: 100%;
    margin-left: 5%;
    margin-right: 5%;
}

#containerMyInterviewsHeader {
	height: 45px;
    position: relative;
    width: 100.2%;
    margin-bottom: 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-top: -1px;
    margin-left: -1px;
}

#myInterviewsColumn {
	padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
}



/*MOTIVATIONAL FEEDBACK CONTAINER */
#containerInsertMotHeader {
	height: 45px;
    position: relative;
    width: 100.2%;
    margin-bottom: 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-top: -1px;
    margin-left: -1px;
}


#containerMotivationF {
	width: 100%;
    margin-left: 5%;
    margin-right: 5%;
}

#backgroundRow .column {
	width: 33%;
}

#questionRow .column {
	width: 33%;
}

#insertMotivationalFeedback {
	padding-left: 30px;
    padding-right: 30px;
}

/*TECH FEEDBACK CONTAINER */
#containerTechF{
	width: 100%;
    margin-left: 5%;
    margin-right: 5%;
}


#containerInsertTechHeader {
	height: 45px;
    position: relative;
    width: 100.2%;
    margin-bottom: 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-top: -1px;
    margin-left: -1px;
}

#backendRow .column {
	width: 33%;
}

#insertTechFeedback {
	padding-left: 30px;
    padding-right: 30px;
}


/*MODALS*/

#motivationalTableModal {
	padding: 0.1px !important;
	border-radius: 10px !important;
}

#techTableModal {
	padding: 0.1px !important;
	border-radius: 10px !important;
}

#containerDetailMotFeedback {
	width: 100%;
}

containerDetailTechF
#containerDetailTechF {
	width: 100%;
}

#closeMotModal {
	color: white;
    font-size: 15px;
    margin-top: -10px;
}

#closeTechModal {
	color: white;
    font-size: 15px;
    margin-top: -10px;
}
