@charset "ISO-8859-1";

.chart {
	width: 100%; 
}


.graphContainer {
	width: 100%;
	padding-top: 12px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    background-color: #e3e4e8;
    border-radius: 5px;
}
.graphHeader {
	padding-bottom: 23px;
}
.graphLabel {
	font-size: 16px;
    color: black;
    line-height: 1em;
}
#yearGraph {
    width: 100%;
    position: relative;
    border: 5px solid white;
    border-radius: 5px;
    background-color: white;
}

#yearGraphRow {
    margin-bottom: 2.7%;
    display: flex;
    width: 100%;
    position: relative;
}

#cakeGraphsRow{
	    display: inline-flex;
	    position: relative;
}

#totInterviewsGraphColumn{
	display: flex;
	position: relative;
	width: 45%;
}
#graphSpaceColumn{
	display: flex;
	position: relative;
	width: 10%;
}
#yearGraphColumn {
	display: flex;
	position: relative;
	width: 100%;
}

#monthInterviewsGraphColumn{
	display: flex;
	position: relative;
	width: 45%;
}

#totalInterviewsChart {
    width: 100%;
    position: relative;
    border: 5px solid white;
    border-radius: 5px;
    background-color: white;
}

#monthInterviewsChart {
    width: 100%;
    position: relative;
     border: 5px solid white;
    border-radius: 5px;
    background-color: white;
}

