 .input-icons i {
     position: absolute;
 }
   
 .input-icons {
     width: 100%;
     margin-bottom: 10px;
 }
   
 .icon {
     padding: 5px;
     min-width: 40px;
     left: 82%;
     cursor: pointer;
 }
 
 .icon-access {
     padding: 5px;
     min-width: 40px;
     left: 80%;
     cursor: pointer;
 } 
   
 .input-field {
     width: 100%;
     padding: 5px;
     text-align: left;
 }
 
 .icon-color {
     padding: 5px;
     min-width: 40px;
     left: 82%;
     cursor: pointer;
     color: #0a58ca;
 }
 
 .icon-access-color {
     padding: 5px;
     min-width: 40px;
     left: 80%;
     cursor: pointer;
     color: #0a58ca;
 } 
 
 