.submit-spinner {	
    float:right;    
	position: relative;
}

/*
.submit-spinner:active {
  background: #007a63;
}
*/

.button-text {
  transition: all 0.2s;
}

.submit-spinner--loading .button-text {
  visibility: hidden;
  opacity: 0;
}

.submit-spinner--loading::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border: 4px solid transparent;
  border-top-color: #ffffff;
  border-radius: 50%;
  animation: submit-spinner-loading 1s ease infinite;
}

@keyframes submit-spinner-loading {
  from {
    transform: rotate(0turn);
  }

  to {
    transform: rotate(1turn);
  }
}