<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="it">
   <head>
      <meta charset="UTF-8" />
      <title>Assigned</title>
      <link rel='shortcut icon' type='image/x-icon' th:href="@{/images/accenture-icon.ico}" />
      <link th:href="@{/css/form.css}" rel="stylesheet" />
      <link th:href="@{/css/sidebar.css}" rel="stylesheet" />
      <link th:href="@{/css/container.css}" rel="stylesheet" />
      <link th:href="@{/css/header.css}" rel="stylesheet" />
      <link th:href="@{/css/general-style.css}" rel="stylesheet" />
      <link th:href="@{/css/popup-container.css}" rel="stylesheet" />
      <link th:href="@{/css/table.css}" rel="stylesheet" />
       <link th:href="@{/css/spinner.css}" rel="stylesheet" />
      <link th:href="@{/css/snackbar.css}" rel="stylesheet" />
      <link href="https://fonts.cdnfonts.com/css/graphik" rel="stylesheet" type='text/css'>
      <link th:rel="stylesheet" th:href="@{assets/bootstrap-select-1.13.9/dist/css/bootstrap-select.css}" />
      <link th:rel="stylesheet" th:href="@{webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} " />
      <link href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css" rel="stylesheet" />
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
      <script src="https://kit.fontawesome.com/ee5a107043.js" crossorigin="anonymous"></script>
      <meta name="viewport" content="initial-scale=1.0, width=device-width" />
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
      <script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
      <script type="text/javascript" th:src="@{/js/general.js}"></script>
      <script type="text/javascript" th:src="@{/js/registration.js}"></script>
      <script type="text/javascript" th:src="@{/js/table.js}"></script>
      <script type="text/javascript" th:src="@{/js/feedback.js}"></script>
      <script type="text/javascript" th:src="@{/js/sidebar.js}"></script>
      <script type="text/javascript" th:src="@{/js/availability.js}"></script>
  </head>
   <body>
      <div class="interview-html">
         <div th:replace="fragments/header"></div>
         <div class="pageRow">
            <div class="col-lg-8 col-lg-offset-2" id="sidebarColumn">
               <div th:replace="fragments/sidebar"></div>
            </div>
            <div class="col-lg-8 col-lg-offset-2" id="containerColumn">
               <div class="container" id="assignedContainer">
                  <header class="containerHeader">
                     <label class="containerLabel">Assigned interviews</label>
                  </header>
                  <div class="col-lg-8 col-lg-offset-2" id="tableFormColumn">
                  <div class="table-row" id="tablePagRow">
                     <table id="completedTable" class="mytable paginated">
                        <thead>
                           <tr>
                              <th style="width: 20%;">Candidate</th>
                              <th style="width: 7%;">Level</th>
                              <th style="width: 10%;">Type</th>
                              <th class="remove" style="width: 10%;">Date</th>
                              <th style="width: 10%;">Site</th>
                              <th style="width: 14%;">Interviewer</th>
                              <th style="width: 8%;">Status</th>
                              <th style="width: 9%;">Feedback</th>
                              <th style="width: 9%;">Detail</th>
                           </tr>
                        </thead>
                        <tbody>
                           <tr class="tableRows" th:each="interview: ${interviews}">
                              <td th:text="${interview.candidateName} + ' ' + ${interview.candidateSurname}" />                                               
                              <td th:text= "${interview.candidateLevel}"/>
                              <td>
                                 <span th:if="${interview.interviewType == 1}">Motivazionale</span>
                                 <span th:unless="${interview.interviewType == 1}">Tecnico</span>
                              </td>
                              <td class="remove"> 
                                 <span th:if="${interview.status == T(com.accenture.interview.utils.enums.InterviewStatusEnum).IN_PROGRESS.value}">
                                 <button id="approveDateBtn" th:data-parameter1="${interview.idColloquio}" th:data-parameter2="${interview.availabilityDates}" onclick="createApproveAvailablityModal(this.getAttribute('data-parameter1'), this.getAttribute('data-parameter2') )" type="submit" class="approve-popup">Approve</button>
                                 </span>
                                 <span th:if="${interview.status == T(com.accenture.interview.utils.enums.InterviewStatusEnum).SCHEDULED.value 
                                    or interview.status == T(com.accenture.interview.utils.enums.InterviewStatusEnum).COMPLETED.value}">
                                 <span th:text="${#dates.format(interview.scheduledDate, 'dd-MM-YYYY HH:mm')}"></span>
                                 </span>      
                                 <span th:if="${interview.status == T(com.accenture.interview.utils.enums.InterviewStatusEnum).REFUSED.value}">
                                 <button id="reassignBtn" th:data-parameter1="${interview.idColloquio}" onclick="createReassignModal(this.getAttribute('data-parameter1') )" type="submit" class="reassign-popup">Reassign</button>
                                 </span>                                 		
                              </td>
                              <td th:text= "${interview.site}"/>
                              <td th:text= "${interview.enterpriseId}"/>
                              <td>
                                 <span th:if="${interview.status == T(com.accenture.interview.utils.enums.InterviewStatusEnum).NEW.value
                                    or interview.status == T(com.accenture.interview.utils.enums.InterviewStatusEnum).IN_PROGRESS.value}">	         
                                 <span>In progress</span>
                                 </span>
                                 <span th:if="${interview.status == T(com.accenture.interview.utils.enums.InterviewStatusEnum).SCHEDULED.value}">
                                 <span>Scheduled</span>
                                 </span>
                                 <span th:if="${interview.status == T(com.accenture.interview.utils.enums.InterviewStatusEnum).COMPLETED.value}">                                                  
                                 <span>Completed</span>
                                 </span>
                                 <span th:if="${interview.status == T(com.accenture.interview.utils.enums.InterviewStatusEnum).REFUSED.value}">                                                  
                                 <span>Refused</span>
                                 </span>                                             
                              </td>
                              <td>
                                 <span th:if="${interview.finalFeedback eq 'OK' }">
                                 <span th:style="'color: #008000'" th:text="${interview.finalFeedback}"></span>
                                 </span>
                                 <span th:if="${interview.finalFeedback eq 'KO' }">
                                 <span th:style="'color: #b20000'" th:text="${interview.finalFeedback}"></span>
                                 </span>
                                 <span th:if="${interview.finalFeedback eq 'STANDBY' }">
                                 <span th:style="'color: #eed202'" th:text="${interview.finalFeedback}"></span>
                                 </span>                                             		
                              <td>
                                 <span th:if="${interview.finalFeedback != null}">
                                 <span th:if="${interview.interviewType == 1}">
                                 <button th:data-parameter1="${interview.motivationalFeedback}" onclick="createMotivationalModal(this.getAttribute('data-parameter1'))" type="submit" class="motiv-popup"><em id="detailIcon" class='bx bx-search'></em></button>
                                 </span>
                                 <span th:unless="${interview.interviewType == 1}">
                                 <button th:data-parameter2="${interview.technicalFeedback}" onclick="createTechnicalModal(this.getAttribute('data-parameter2'))" type="submit" class="tech-popup"><em id="detailIcon" class='bx bx-search'></em></button>
                                 </span>
                                 </span>
                              </td>
                           </tr>
                        </tbody>
                     </table>
                     </div>
                  </div>
                  <div id="motiv-modal" class="cd-popup" role="alert">
                     <div th:replace="fragments/motivFeedbackModal"></div>
                  </div>
                  <div id="tech-modal" class="cd-popup2" role="alert">
                     <div th:replace="fragments/techFeedbackModal"></div>
                  </div>
                  <div id="approve-modal" class="cd-popup" role="alert">
                     <div th:replace="fragments/approveDateModal"></div>
                  </div>
                  <div id="reassign-modal" class="cd-popup" role="alert">
                     <div th:replace="fragments/reassignModal"></div>
                  </div>
               </div>
            </div>
         </div>
         <div  id="snackbar">
            <div  id="snackbarRow">
               <div class="col-lg-8 col-lg-offset-2" id="snackbarTextColumn">
               </div>
            </div>
         </div>
      </div>
   </body>
</html>