<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="it">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="initial-scale=1.0, width=device-width" />
        <title>Insert</title>
        <link rel='shortcut icon' type='image/x-icon' th:href="@{/images/accenture-icon.ico}" />
        <link th:href="@{/css/spinner.css}" rel="stylesheet" />
        <link th:href="@{/css/form.css}" rel="stylesheet" />
        <link th:href="@{/css/sidebar.css}" rel="stylesheet" />
        <link th:href="@{/css/container.css}" rel="stylesheet" />
        <link th:href="@{/css/header.css}" rel="stylesheet" />
        <link th:href="@{/css/snackbar.css}" rel="stylesheet" />
        <link th:href="@{/css/general-style.css}" rel="stylesheet" />
        <link th:href="@{/css/popup-container.css}" rel="stylesheet" />
        
        <link th:href="@{/css/cta_header.css}" rel="stylesheet" />
        <link th:href="@{/css/password-icons.css}" rel="stylesheet" />
        
        <link th:rel="stylesheet" th:href="@{assets/bootstrap-select-1.13.9/dist/css/bootstrap-select.css}" />
        <link th:rel="stylesheet" th:href="@{webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} " />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" />
        <link href="https://fonts.cdnfonts.com/css/graphik" rel="stylesheet"  type='text/css'>
        <link href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css" rel="stylesheet" />

        <script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
        <script type="text/javascript" th:src="@{/js/registration.js}"></script>
        <script type="text/javascript" th:src="@{/js/general.js}"></script>
        <script type="text/javascript" th:src="@{/js/interview.js}"></script>
        <script type="text/javascript" th:src="@{/js/upload.js}"></script>
        <script type="text/javascript" th:src="@{/js/availability.js}"></script>
        <script type="text/javascript" th:src="@{/js/sidebar.js}"></script>
        
        <script type="text/javascript" th:src="@{/js/cta-header.js}"></script>
        <script type="text/javascript" th:src="@{/js/password.js}"></script>
    </head>
    <body>
        <div class="interview-html">               
        
			<!-- NUOVO DIV PER HEADER SUPERIORE -->
			<div th:replace="fragments/header"></div>        
       
           <div class="pageRow">         
				<!-- NUOVO DIV PER SIDEBAR (LATERALE) -->
				<div class="col-lg-8 col-lg-offset-2" id="sidebarColumn">
						<div th:replace="fragments/sidebar"></div>  			
    
				 </div>            
            
                <div class="col-lg-8 col-lg-offset-2" id="containerColumn" style="height: 600px; overflow-y: scroll;">
                    <div class="container" id="containerInsert" style="height: auto">
                    		<header class="containerHeader">
						              <label class="containerLabel">Edit Interview</label>
						    </header>		
                            <div class="col-lg-8 col-lg-offset-2" id="insertFormColumn">
                                <form class="inp-form" id="updateInterview" action="#" th:action="@{/interview/update}" th:object="${createInterviewTO}" method="post">
                                    <div class="form-group">
                                        <div class="2-column-container">
                                        <input id="editInterviewIdHid" type="hidden" th:field="*{interviewId}" th:value="*{interviewId}"/>
                                            <div class="row">
                                                <div class="column">
                                                    <div class="form-group">
                                                        <label>Name</label>
                                                        <input type="text" th:field="*{candidateName}" th:value="*{candidateName}" placeholder="Name" />
                                                    </div>
                                                </div>
                                                <div class="column">
                                                    <div class="form-group">
                                                        <label>Surname</label>
                                                        <input type="text" th:field="*{candidateSurname}" th:value="*{candidateSurname}" placeholder="Surname" />
                                                    </div>
                                                </div>
                                                <div class="column">
                                                    <div class="form-group">
                                                        <label>Date of birth</label>
                                                        <input class="datePicker" type="date" th:field="*{candidateBirth}" th:value="*{candidateBirth}"/>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="column">
                                                    <div class="form-group">
                                                        <label>Email</label>
                                                        <input type="email" th:field="*{mail}" th:value="*{mail}" placeholder="mail@mail.com" />
                                                    </div>
                                                </div>
                                                 <div class="column">
                                                    <div class="form-group">
                                                        <label>Qualification</label>
                                                        <input type="text" th:field="*{eduQualification}" th:value="*{eduQualification}" placeholder="Qualification" />
                                                    </div>
                                                </div>
                                                <div class="column">
                                                    <div class="form-group">
                                                        <label>Interviewer</label>
                                                        <select class="formcontrol selectpicker" th:field="*{enterpriseId}">
                                                            <option value="">Nothing selected</option>
                                                             <option th:each="interviewer : ${interviewerList}" th:selected="${interviewer.enterpriseId} == ${enterpriseId}" th:value="${interviewer.enterpriseId}" th:text="${interviewer.enterpriseId}">
                                                               site
                                                            </option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="column">
                                                    <div class="form-group">
                                                        <label for="candidateType">Candidate Level</label>
                                                        <select  class="formcontrol selectpicker" th:field="*{candidateType}" id="candidateType">
                                                            <option value="">Nothing selected</option>
                                                            <option th:each="cType : ${candidateTypeList}" th:selected="${cType.description} == ${candidateType}"  th:value="${cType.description}" 
                                                            			th:text="${cType.description}">
                                                                candidate type
                                                            </option>
                                  
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="column">
                                                    <div class="form-group">
                                                        <label>Interview type</label>
                                                        <select class="form-control selectpicker" th:field="*{interviewType}" id="interviewType">
                                                            <option value="">Nothing selected</option>
                                                            <option th:each="intType : ${interviewTypeList}" th:value="${intType.description}" th:selected="${intType.description} == ${interviewType}"
                                                            th:text="${intType.description}"> 
                                                                interview type
                                                            </option>
                                                        </select>
                                                    </div>
                                                </div>
                                                
                                                <!-- 2022-10-13 NUOVA COLONNA site - START -->
                                                <div class="column">
                                                    <div class="form-group">
                                                        <label>Site</label>
                                                        <select class="formcontrol selectpicker" th:field="*{site}" id="site">
                                                            <option value="">Nothing selected</option>
                                                             <option th:each="siteElem : ${comboSitesDB}" th:value="${siteElem.id}" th:text="${siteElem.name}" th:selected="${siteElem.id} == ${siteId}">
                                                               site
                                                            </option>
                                                        </select>
                                                    </div>
                                                </div>                                                
                                                <!-- 2022-10-13 NUOVA COLONNA site - END -->                                                
                                            </div>
                                            
                                            <div class="row">
                                            	<div class="column_bigger">
                                            		<div class="form-group">
                                            			<label style="display:inline-block;">Note&nbsp;&nbsp;</label>                                            			                                           			                                           		                                                				                                            
	                                            		<i class="collapsible" style="display:inline-block; position: relative; top: 3px; left: 20px;">	                                            		                                            			                                           		   
															<em id="collapseIcon" class='bx bx-plus'></em>
														</i>																																																							
														<textarea class="content_note" th:field="*{note}" th:value="*{note}" id="note" 
																  style="height: 150px"></textarea>			
                                            		</div>
                                                </div>
                                            </div>  
                                            <div class="row" id="buttonRow" style="padding-top: 15px">
                                                <div class="button-column">
                                                    <div class="form-group">
														<button id="insertInterviewBtn" class="submit-spinner" 
														        type="submit" onclick="this.classList.toggle('submit-spinner--loading')">
														<span class="button-text">Submit</span></button>                                                        
                                                    </div>
                                                </div>
                                                <div class="button-column">
                                                    <div class="form-group">
                                                        <button form="cancelInterview" th:id="'interview_cancel_button_' + ${interviewId}" type="submit" >Close</button>		
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                               <form id="cancelInterview" action="#" th:action="@{'/interview/'+ ${interviewId} + '/cancel'} " method="post">
	                                   									
								</form>  
                                 </div>
                            </div>
                             <label th:if="${createdInterview != null}"
							th:text="${createdInterview}" id="createdInterview" style="display:none;"></label>
                            <label th:if="${uploadError != null}"
							th:text="${uploadError}" id="uploadError" style="display:none;"></label>
			</div>
         </div>
        </div>
        
        <div id="upload-cv-modal" class="cd-popup" role="alert">
                 <div th:replace="fragments/uploadCvModal"></div>
        </div>
               
		<div id="change-password-modal" class="cd-popup" role="alert">
		     <div th:replace="fragments/changePasswordModal"></div>
		</div>              
               
  		<div  id="snackbar">
              <div  id="snackbarRow">
               		<div class="col-lg-8 col-lg-offset-2" id="snackbarTextColumn">
               				 
               		</div>    				 
               </div>
       	</div>

      <script>
	   	  // Chiude la dropdown se l'utente clicca fuori da essa
	      window.onclick = function(event) {
	      	if (!(event.target.id.includes("ctaDropdownPassword") || event.target.id.includes("nickname"))) {
	      	  var dropdowns = document.getElementsByClassName("dropdown-content-hd");
	      	  var i;
	      	  for (i = 0; i < dropdowns.length; i++) {
	      	    var openDropdown = dropdowns[i];
	      	    if (openDropdown.classList.contains('show')) {
	      	      openDropdown.classList.remove('show');
	      	    }
	      	  }
	      	}
	      }      
      </script>        
    </body>
</html>
