<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="it">
	<head>
	    <meta charset="UTF-8"/>
	    <title>Home</title>
	    <link rel='shortcut icon' type='image/x-icon' th:href="@{/images/accenture-icon.ico}" />
	    <link th:href="@{/css/spinner.css}" rel="stylesheet" />
		<link th:href="@{/css/form.css}" rel="stylesheet" />
        <link th:href="@{/css/sidebar.css}" rel="stylesheet" />
        <link th:href="@{/css/home.css}" rel="stylesheet" />
        <link th:href="@{/css/container.css}" rel="stylesheet" />
        <link th:href="@{/css/snackbar.css}" rel="stylesheet" />
        <link th:href="@{/css/header.css}" rel="stylesheet" />
        <link th:href="@{/css/general-style.css}" rel="stylesheet" />
        <link th:href="@{/css/popup-container.css}" rel="stylesheet" />
        <link href="https://fonts.cdnfonts.com/css/graphik" rel="stylesheet" type='text/css'>
        <link th:rel="stylesheet" th:href="@{assets/bootstrap-select-1.13.9/dist/css/bootstrap-select.css}" />
        <link th:rel="stylesheet" th:href="@{webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} " />
        <link href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
        <script src="https://kit.fontawesome.com/ee5a107043.js" crossorigin="anonymous"></script>
        <meta name="viewport" content="initial-scale=1.0, width=device-width" />
        <script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
        <script type="text/javascript" th:src="@{/js/registration.js}"></script>
        <script type="text/javascript" th:src="@{/js/general.js}"></script>
        <script type="text/javascript" th:src="@{/js/sidebar.js}"></script>
        <script type="text/javascript" th:src="@{/js/charts.js}"></script>
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
	</head>
    <body>
    
    <div class="interview-html">
			
			<!-- NUOVO DIV PER HEADER SUPERIORE -->
			<div th:replace="fragments/header"></div>		
			<div class="pageRow">
				<div class="col-lg-8 col-lg-offset-2" id="sidebarColumn">
						<div th:replace="fragments/sidebar"></div>  				
				 </div>
	                <!-- CONTAINER CENTRALE -->    
	                <div class="col-lg-8 col-lg-offset-2" id="containerColumn">
		              <div class="row" id="yearGraphRow">
		              			<div class="col-lg-8 col-lg-offset-2" id="yearGraphColumn">
		              						<div class="graphContainer">
			              						<header class="graphHeader">
					                                <label class="graphLabel">Year Interviews</label>
					                            </header>		
											 	<div id="yearGraph"></div>		
											 </div>						 	
								</div>		 	
						</div>             
						<div class="row" id="cakeGraphsRow">	
										  <div class="col-lg-8 col-lg-offset-2" id="totInterviewsGraphColumn">
												<div class="graphContainer">
				              						<header class="graphHeader">
						                                <label class="graphLabel">Total Interviews</label>
						                            </header>		
											 			<div id="totalInterviewsChart" class="chart"></div>
										 		</div>
										  </div>
										  <div class="col-lg-8 col-lg-offset-2" id="graphSpaceColumn">
										  </div>
										   <div class="col-lg-8 col-lg-offset-2" id="monthInterviewsGraphColumn">
										   		<div class="graphContainer">
				              						<header class="graphHeader">
						                                <label class="graphLabel">Month Interviews</label>
						                            </header>		
										 			<div id="monthInterviewsChart" class="chart"></div>
										 		  </div>	
										  </div>	
			
						</div>
					</div>
					 <div style="display: none">
			        		 <span th:text="${inProgressInterviews}" id="inProgressNumber"></span>
							 <span th:text="${myInterviews}" id="completedNumber"></span>
							 <span th:text="${myInterviewsMonth}" id="completedMonthNumber"></span>
							 <span th:text="${inProgressInterviewsMonth}" id="inProgressMonthNumber"></span>
	          		</div>
          		</div>
               <div  id="snackbar">
               		<div  id="snackbarRow">
               				  <div class="col-lg-8 col-lg-offset-2" id="snackbarTextColumn">
               				 
               				 </div>    				 
               		</div>
               </div>
</div>


				
				
			
	<script th:inline="javascript">
		/*<![CDATA[*/
			google.load("visualization", "1", {packages:["corechart"]});
			google.setOnLoadCallback(drawVisualization);
			
			var yGraph = document.getElementById("yearGraph");
			if(yGraph != null) {
				yGraph.click();
			}
			
			function drawVisualization() {
			    var months = [];
			    var interviews = [];
			    
			    var monthList = /*[[${yearMonthInterviews}]]*/ 'default';
			    for (i = 0; i < monthList.length; i++) {
			    	months.push(monthList[i].monthName);
			    	interviews.push(monthList[i].interviews);
			    }
		    
		    	  var data = new google.visualization.DataTable();
		    	  data.addColumn('string', 'Months');
		    	  data.addColumn('number', 'Interviews');
	
		    	  for(i = 0; i < months.length; i++)
		    	    data.addRow([months[i], interviews[i]]);
		    	  
		    	  var options = {
		    		        vAxis: {'minValue': 0, 'maxValue': 5, 'format': '0'},
		    		        hAxis: {
		    		            textStyle: {
		    		                color: 'black',
		    		                 fontSize: 11 
		    		            }
		    		        },

		    		        width: '90%',
		    		       /* chartArea: {'width': '100%', 'height': '80%'},*/
		    		        chartArea: {'width': '100%', 'height': '80%', 'left': 20},
		    		        /*theme: 'maximized',*/
		    		        bar: {groupWidth: "25%"},
		    		        legend: { position: "none" },
		    		  		colors: ['rgb(17, 184, 236)']
		    		      };
		    	 
		    	  new google.visualization.ColumnChart(document.getElementById('yearGraph')).
		    	    draw(data, options);
			}
			window.onresize = drawVisualization;
			window.addEventListener('load', drawVisualization, false);
			window.addEventListener('click', drawVisualization, false);
		/*]]>*/
	</script>
    </body>
</html>