<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="it">
    <head>
        <meta charset="UTF-8" />
        <title>Interview</title>
        <link th:href="@{/css/form.css}" rel="stylesheet" />
        <link th:href="@{/css/sidebar.css}" rel="stylesheet" />
        <link th:href="@{/css/container.css}" rel="stylesheet" />
        <link th:href="@{/css/header.css}" rel="stylesheet" />
         <link th:href="@{/css/general-style.css}" rel="stylesheet" />
        <link th:href="@{/css/popup-container.css}" rel="stylesheet" />
        <link th:rel="stylesheet" th:href="@{assets/bootstrap-select-1.13.9/dist/css/bootstrap-select.css}" />
        <link th:rel="stylesheet" th:href="@{webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} " />
        <link href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
        <script src="https://kit.fontawesome.com/ee5a107043.js" crossorigin="anonymous"></script>
        <meta name="viewport" content="initial-scale=1.0, width=device-width" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
        <script type="text/javascript" th:src="@{/js/funzionalita2.js}"></script>
        <script type="text/javascript" th:src="@{/js/funzionalita.js}"></script>
        <script type="text/javascript" th:src="@{/js/sidebar.js}"></script>
    </head>
    <body>
        <div class="interview-html"></div>
        <!-- wrap -->
        <div class="interview-wrap">               
        
			<!-- NUOVO DIV PER HEADER SUPERIORE -->
			<div th:replace="fragments/header"></div>
			
            <div class="row" id="pageRow">
            
			<!-- NUOVO DIV PER SIDEBAR (LATERALE) -->
			<div th:replace="fragments/sidebar"></div>
						
                <div class="col-lg-8 col-lg-offset-2" id="containerColumn">
                    <div class="container" id="containerInProgress">
                        <div class="row">
                            <header id="containerInProgressHeader">
                                <label id="interviewInformations">Interview informations </label>
                            </header>
                            <div class="col-lg-8 col-lg-offset-2" id="inProgressColumn">
                                <table id="inProgressTable" class="mytable paginated">
                                    <tr>
                                        <th>Candidate </th>
                                        <th>Level</th>
                                        <th class="remove">Interview Type</th>
                                        <th>Scheduled date</th>
                                        <th>Site</th>
                                        <th>Feedback</th>
                                    </tr>
                                    <tr class="tableRows" th:each="interview: ${interviews}">
 										<td th:text="${interview.candidateName} + ' ' + ${interview.candidateSurname}" />       
 										<td th:text= "${interview.candidateLevel}"/>   
                                        <td class="remove">
                                            <span th:if="${interview.interviewType == 1}">MOTIVAZIONALE</span>
                                            <span th:unless="${interview.interviewType == 1}">TECNICO</span>
                                        </td>
                                        <td class="dateInterview" th:text="${#dates.format(interview.scheduledDate, 'MM-dd-YYYY HH:mm')}" />
                                        <td th:text= "${interview.site}"/>   
                                        <td>
                                            <span th:if="${interview.interviewType == 1}">
                                                <button type="submit" class="motiv-popup" th:data-parameter1="${interview.id}" onclick="GotoMotivationalFeedback(this.getAttribute('data-parameter1'));">Add</button>
                                            </span>
                                            <span th:unless="${interview.interviewType == 1}">
                                                <button type="submit" class="tech-popup" th:data-parameter1="${interview.id}" onclick="GotoTechnicalFeedback(this.getAttribute('data-parameter1'));">Add</button>
                                            </span>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
