<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="it>
	<head>
	    <meta charset="UTF-8"/>
	    <title>Interview</title>
		<link th:href="@{/form2.css}" rel="stylesheet" />
		<link th:href="@{/sidebar.css}" rel="stylesheet" />
		<link th:rel="stylesheet" th:href="@{assets/bootstrap-select-1.13.9/dist/css/bootstrap-select.css}"/>
    	<link th:rel="stylesheet" th:href="@{webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<meta name="viewport" content="initial-scale=1.0, width=device-width" />
		
		<script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
		<script type="text/javascript" th:src="@{/js/funzionalita.js}"></script>
		<script type="text/javascript" th:src="@{/js/sidebar.js}"></script>
			
		

	</head>
    <body>
        <!-- Sidebar -->
   			<div id="mySidenav" class="sidenav">
  			<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  			<div id="sidenavImg">
  				<img src="https://assets.kununu.com/media/prod/profiles/logos/80f425be-4171-43d8-871f-04dd48a0c278_1_62f23bf6f2c37.gif" id="imgLogo" alt="logo" >		
  			</div>
	  		<p id="nickname"></p>	
	  		<ul id="myUL">
	  				<li id="navHome" onclick="RedirectHome()"><span>Home</span></li>  
	  				<li id="navInterviews"><span class="caret">Interviews</span>
	  						<ul id=nestedLi class="nested">
	  							<li id="navInsert" onclick="RedirectManage()"><span>New/Search</span></li>
	  						</ul>
      				</li>
					<li id="navHistory"><span class="caret">History</span>
    						<ul id=nestedLi class="nested">
								<li id="navCompleted" onclick="RedirectMyInterviews()"><span id= "completed">Completed</span></li>
	  							<li id="navProgress" onclick="RedirectInProgress()"><span>In Progress</span></li>
      					 	</ul>
      				</li>
      				<li id="navLogout"><span>Logout</span></li>      			
			</ul> 
		</div>
    	
    	 <div class="overlay" id="baseOverlay">
     	
     	</div>
		<!-- Wrap -->
		<div class="interview-wrap">

			<div class="interview-html">
				<!-- Span Menu -->
				<div  class="span-menu">
					<span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>
				</div>

				<div id="page-content">
					<!-- Wrap Selection -->
					<input id="tab-1" type="radio" name="tab" class="interview" checked><label for="tab-1" class="tab">New Interview</label>
					<input id="tab-2" type="radio" name="tab" class="search"><label for="tab-2" class="tab">Search Interview</label>
					
					<!-- Form Box -->
					<div class="interview-form">
						<!-- New Interview -->
						<div class="interview-htm">
							<div class="container">
			                	<div class="row">
			                    	<div class="col-lg-8 col-lg-offset-2">
			                        	<form action="#" th:action="@{/interview/create}" th:object="${createInterviewRequest}" method="post">
			                        		<div class=form-group>
			                        		
			                        		<div class="2-column-container">
			                        			
			                        			<div class="row">
			                        				<div class="column">
			                        					<div class="form-group">
											    				<label><em class="fa fa-user"></em> Name</label>
											    				<input type="text" th:field="*{candidateName}" placeholder="Name"/>
											    				<small th:if="${#fields.hasErrors('candidateSurname')}" th:errors="*{candidateName}">Name Error</small>
										  				</div>	
				  									</div>
				  									<div class="column">				  				
									  					<div class="form-group">
											    				<label><em class="fa fa-user"></em> Surname</label>
											    				<input type="text" th:field="*{candidateSurname}" placeholder="Surname"/>
											    				<small th:if="${#fields.hasErrors('candidateSurname')}" th:errors="*{candidateSurname}">Surname Error</small>
										  				</div>	
								  					</div>	
			                        			</div>
			                        			<div class="row">
			                        				<div class="column">
				                        				<div class="form-group">
										    				<label><em class="fa fa-envelope"></em> Email</label>
										    				<input type="email" th:field="*{mail}" placeholder="email@mail.com" />
										    				<small th:if="${#fields.hasErrors('mail')}" th:errors="*{mail}">Email Error</small>
									  					</div>		
			                        				</div>
			                        				<div class="column">
				                        				<div class="form-group">
										    				<label><em class="fa fa-calendar"></em> Date of birth</label>
										    				<input type="date" th:field="*{candidateBirth}"/>
										    				<small th:if="${#fields.hasErrors('candidateBirth')}" th:errors="*{candidateBirth}">Birth Error</small>
									  					</div>	
			                        				</div>
			                        			</div>
			                        			<div class="row">
			                        				<div class="column">
				                        				<div class="form-group">
										    				<label><em class="fa fa-graduation-cap"></em> Qualification</label>
										    				<input type="text" th:field="*{eduQualification}" placeholder="qualification"/>
										    				<small th:if="${#fields.hasErrors('eduQualification')}" th:errors="*{eduQualification}">Qualification Error</small>
									  					</div>		
			                        				</div>
			                        				<div class="column">
				                        				<div class="form-group">
										    				<label><em class="fa fa-file"></em> Curriculum</label>
										    				<input type="file" id="cv" name="curriculum" accept="pdf">
										    				<small th:if="${#fields.hasErrors('cv')}" th:errors="*{cv}">CV Error</small>
									  					</div>		
			                        				</div>
			                        			</div>
			                        			<div class="row">
			                        				<div class="column">
				                        				<div class="form-group">
											                 	<label for="candidateType"><em class="fa fa-briefcase"></em> Candidate Type</label>
											                    <select class="formcontrol selectpicker" th:field="*{candidateType}" id="candidateType">
											                        <option value="">Nothing selected</option>
											                        <option th:each="candidateType : ${T(com.accenture.interview.utils.enums.CandidateTypeEnum).values()}"
											                                th:value="${candidateType}"
											                                th:text="${candidateType}">candidate type
											                        </option>
											                    </select>            
											                    <small th:if="${#fields.hasErrors('candidateType')}" th:errors="*{candidateType}">Candidate Type Error</small>
									                	</div>			
			                        				</div>
			                        				<div class="column">
				                        				<div class="form-group">
										    				<label><em class="fa fa-handshake-o" ></em> Interview Type</label>
										    				<select class="form-control selectpicker" th:field="*{interviewType}" id="interviewType">
										                        <option value="">Nothing selected</option>
										                        <option th:each="interviewType : ${T(com.accenture.interview.utils.enums.InterviewTypeEnum).values()}"
										                                th:value="${interviewType}"
										                                th:text="${interviewType}">interview type
										                        </option>
										                    </select>    
										    				<small th:if="${#fields.hasErrors('interviewType')}" th:errors="*{interviewType}">Interview type Error</small>
									  					</div>	
			                        				</div>
			                        				
			                        			</div>	
			                        			<div class="row">
			                        			<div class="one-column">	
					                        		<div class="form-group">
										    				<label><em class="fa fa-drivers-license" style="text-align:left;"></em> Interviewer Id</label>
										    				<input type="text" th:field="*{idInterviewer}" placeholder="name.surname"/>
										    				<small th:if="${#fields.hasErrors('idInterviewer')}" th:errors="*{idInterviewer}">Interviewer Error</small>
										  			</div>
										  		</div>	
			                        			</div>
			                        			
			                        			<div class="row">
			                        				<div class="column">	
						                        		<div class="form-group">
											  					<button class="submit-button" type="submit">Submit <em class="fa fa-check"></em></button>	
											  			</div>
										  			</div>
										  			<div class="column">	
														<div class="form-group">
											  					<button class="clear-button" type="reset" value="Reset" > Clear <em class="fa fa-trash"></em></button>	
											  			</div>
										  			</div>
										  		</div>
										  		<p></p>
										  		<p></p>
										  		</div>
			                				</div>
			                				
			                        		
			        				</form>                    
			                    </div>
			                </div>
			            </div>
					</div>
					<!-- Search Interview -->
					<div class="search-htm">
						<div class="container">
			                	<div class="row">
			                    	<div class="col-lg-8 col-lg-offset-2">
			                        	<form id="my-form" action="#" th:action="@{/interview/search}"  th:object="${searchInterviewRequest}" method="post">
			
											<div class="search-group">
												<div class="row">
													<div class="column">
														<div class="form-group">
						    							<label><em class="fa fa-user"></em> Name</label>
						    							<input type="text" th:field="*{candidateName}" id="candidateNameId"/>
						    							<small th:if="${#fields.hasErrors('candidateName')}" th:errors="*{candidateName}">Name Error</small>
					  								</div>
													</div>
													<div class="column">
														<div class="form-group">
									    				<label><em class="fa fa-user"></em> Surname</label>
									    				<input type="text" th:field="*{candidateSurname}" id="candidateSurnameId"/>
									    				<small th:if="${#fields.hasErrors('candidateSurname')}" th:errors="*{candidateSurname}">Surname Error</small>
									  				</div>
													</div>
												</div>
												<div class="row">
													<div class="column">
														<div class="form-group">
									    				<label><em class="fa fa-envelope"></em> Email</label>
									    				<input type="email" th:field="*{email}" />
									    				<small th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email Error</small>
									  				</div>
													</div>
													<div class="column">
														<div class="form-group">
									    				<label><em class="fa fa-handshake-o" ></em> Interview Type</label>
									    				<select class="form-control selectpicker" th:field="*{interviewType}" id="interviewType2">
									                        <option value="">Nothing selected</option>
															<option th:each="interviewType : ${T(com.accenture.interview.utils.enums.InterviewTypeEnum)}"
																	th:value="${interviewType}"
																	th:text="${interviewType}">interview type
															</option>
									                    </select>    
									    				<small th:if="${#fields.hasErrors('interviewType')}" th:errors="*{interviewType}">Interview type Error</small>
									  				</div>				
													</div>
												</div>
												<div class="row">
													<div class="column">
														<div class="form-group">
									    				<label><em class="fa fa-calendar"></em> Date between</label>
									    				<input type="date" th:field="*{firstDate}"/>
									    				<small th:if="${#fields.hasErrors('firstDate')}" th:errors="*{firstDate}">First date Error</small>
									  				</div>
													</div>
													<div class="column">
														<div class="form-group">
														<label><emclass="fa fa-calendar"></em> and:</label>
														<input type="date" th:field="*{secondDate}"/>
														<small th:if="${#fields.hasErrors('secondDate')}" th:errors="*{secondDate}">Second date Error</small>
													</div>
													</div>
												</div>	
												<div class="row">
													<div class="one-column">	
						                        	<div class="form-group">
										    			<label><em class="fa fa-drivers-license" style="text-align:left;"></em> Interviewer Id</label>
										    			<input type="text" th:field="*{enterpriseId}" />
										    			<small th:if="${#fields.hasErrors('enterpriseId')}" th:errors="*{enterpriseId}">Interviewer Error</small>
										  			</div>
										  			</div>
			                        			</div>
												<div class="row">
			                        				<div class="column">	
						                        		<div class="form-group">
											  					<button class="search-button" type="submit" onclick="generate_table()"  >Search <em class="fa fa-search"></em></button>	
											  			</div>
										  			</div>
										  			<div class="column">	
														<div class="form-group">
											  					<button class="clear-button" type="reset" value="Reset" > Clear <em class="fa fa-trash"></em></button>	
											  			</div>
										  			</div>
										  		</div>
												
			  								</div>
			
			        				</form>
			        				<div class="responsive">
										<table class="interview-table" id="mytable"></table>
									</div>
			                    </div>
			                </div>
			                </div>
			            </div>
						</div>
				</div>
			</div>

</div>
    
    <!-- /#wrapper -->
    </body>
</html>