<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="it">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="initial-scale=1.0, width=device-width" />
        <title>Interview</title>
        <link th:href="@{/css/form2.css}" rel="stylesheet" />
        <link th:href="@{/css/sidebar.css}" rel="stylesheet" />
        <link th:href="@{/css/form-container.css}" rel="stylesheet" />
        <link th:href="@{/css/header.css}" rel="stylesheet" />
        <link th:href="@{/css/snackbar.css}" rel="stylesheet" />
        <link th:rel="stylesheet" th:href="@{assets/bootstrap-select-1.13.9/dist/css/bootstrap-select.css}" />
        <link th:rel="stylesheet" th:href="@{webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} " />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" />
        <link href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css" rel="stylesheet" />

        <script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
        <script type="text/javascript" th:src="@{/js/funzionalita.js}"></script>
        <script type="text/javascript" th:src="@{/js/funzionalita2.js}"></script>
        <script type="text/javascript" th:src="@{/js/sidebar.js}"></script>
    </head>
    <body>
        <div class="interview-html">               
        
			<!-- NUOVO DIV PER HEADER SUPERIORE -->
			<div th:replace="fragments/header"></div>        
        
            <div class="row" id="pageRow">
            
				<!-- NUOVO DIV PER SIDEBAR (LATERALE) -->
				<div th:replace="fragments/sidebar"></div>            
            
                <div class="col-lg-8 col-lg-offset-2" id="containerColumn">
               <div class="container" id="containerSearch">
                        <div class="row">
                            <header id="containerSearchHeader">
                                <label id="interviewInformations">Interview informations </label>
                            </header>
                            <div class="col-lg-8 col-lg-offset-2">
                                <form id="searchInterview" action="#" th:action="@{/interview/search}" th:object="${searchInterviewTO}" method="post" onsubmit="return validationSearch()" > 
                                    <div class="search-group">
                                        <div class="row">
                                            <div class="column" id="searchName">
                                                <div class="form-group">
                                                    <label><em class="fa fa-user"></em> Name</label>
                                                    <input type="text" th:field="*{candidateName}" id="candidateNameId" placeholder="Name" />
                                                </div>
                                            </div>
                                            <div class="column" id="searchSurname">
                                                <div class="form-group">
                                                    <label><em class="fa fa-user"></em> Surname</label>
                                                    <input type="text" th:field="*{candidateSurname}" id="candidateSurnameId" placeholder="Surname" />
                                                </div>
                                            </div>
                                             <div class="column"  id="searchLevel">
	                                            	<div class="form-group">
	                                                        <label for="candidateType"><em class="fa fa-briefcase"></em> Candidate Level</label>
	                                                        <select class="formcontrol selectpicker" th:field="*{candidateType}" id="candidateType">
	                                                            <option value="">Nothing selected</option>
	                                                            <option th:each="candidateType : ${T(com.accenture.interview.utils.enums.CandidateTypeEnum).values()}" th:value="${candidateType}" th:text="${candidateType}">
	                                                                candidate type
	                                                            </option>
	                                                        </select>
	                                           		</div>
	                                            </div>
                                        
                                        </div>
                                        <div class="row">
                                         	<div class="column" id="searchType">
                                                <div class="form-group">
                                                    <label><em class="fa fa-handshake-o"></em> Interview Type</label>
                                                    <select class="form-control selectpicker" th:field="*{interviewType}" id="interviewType2">
                                                        <option value="">Nothing selected</option>
                                                        <option th:each="interviewType : ${T(com.accenture.interview.utils.enums.InterviewTypeEnum).values()}" th:value="${interviewType}" th:text="${interviewType}">interview type </option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="column"  id="searchEnt">
                                               <div class="form-group">
                                                   <label><em class="fa fa-drivers-license"></em> Interviewer</label>
                                                   <input type="text" th:field="*{enterpriseId}" placeholder="enterprise.id" id="enterpriseIdS"/>
                                               </div>
                                             </div>
                                             <div class="column" id="searchSite">
                                               	<div class="form-group">
                                                        <label><em class="fa-solid fa-building-user"></em> Site</label>
                                                        <select class="formcontrol selectpicker" th:field="*{site}" id="site">
                                                            <option value="">Nothing selected</option>
                                                             <option th:each="siteElem : ${comboSitesDB}" th:value="${siteElem.name}" th:text="${siteElem.name}">
                                                               site
                                                            </option>
                                                        </select>
                                               		</div>
                                               </div>
                                        </div>                                 
                                        <div class="row">
                                            <div class="column">
                                                <div class="form-group">
                                                    <label><em class="fa fa-calendar"></em> Date between</label>
                                                    <input type="date" th:field="*{firstDate}" id="firstDate" />
                                                </div>
                                            </div>
                                            <div class="column">
                                                <div class="form-group">
                                                    <label><em class="fa fa-calendar"></em> and</label>
                                                    <input type="date" th:field="*{secondDate}" id="secondDate" />
                                                </div>
                                            </div>
                                        </div>                                      
                                        <div class="row" id="searchButtonRow">
                                        	<input type="hidden" id="searchTO" th:value="${searchInterviewTO}"/>
                                            <div class="button-column">
                                                <div class="form-group">
                                                    <button  class="search-button" type="submit" >Search</button>
                                                </div>
                                            </div>
                                            <div class="button-column">
                                                <div class="form-group">
                                                    <button class="clear-button" type="reset" value="Reset" onclick="resetSearchTable()">Clear</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <div id="searchTableContainer" class="responsive">
                                <div th:if= "${not #lists.isEmpty(searchInterviews)}">
                               
                                    <table id="mytable" class="mytable paginated">
                                        <thead>
                                            <tr>
                                                <th>Candidate</th>
                                                <th>Level</th>
                                                <th class="remove">Interview Type</th>
                                                <th  class="remove">Interview date </th>
                                                <th>Site</th>
                                                <th>Feedback</th>
                                                <th>Detail</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr class="tableRows" th:each="interview: ${searchInterviews}">
                                                <td th:text="${interview.candidateName} + ' ' + ${interview.candidateSurname}" />                                               
                                                <td th:text= "${interview.candidateLevel}"/>
                                                <td class="remove">
                                                    <span th:if="${interview.interviewType == 1}">MOTIVAZIONALE</span>
                                                    <span th:unless="${interview.interviewType == 1}">TECNICO</span>
                                                </td>
                                                <td class="remove" th:text="${#dates.format(interview.scheduledDate, 'MM-dd-YYYY HH:mm')}" />
                                                 <td th:text= "${interview.site}"/>                                                                         		 
                                           		 <td th:switch="${interview.finalFeedback}">
												    <span th:case="'OK'" th:style="'color: #008000'">OK</span>
												    <span th:case="'KO'" th:style="'color: #b20000'">KO</span>
												    <div th:case="*">
												         <span th:if="${interview.interviewType == 1}">
												         		<button type="submit" class="add-feed-button" th:data-parameter1="${interview.idColloquio}" onclick="GotoMotivationalFeedback(this.getAttribute('data-parameter1'));">Add</button>
												         </span>
                                                    	 <span th:unless="${interview.interviewType == 1}">
                                                    	 		 <button type="submit" class="add-feed-button" th:data-parameter1="${interview.idColloquio}" onclick="GotoTechnicalFeedback(this.getAttribute('data-parameter1'));">Add</button>
                                                    	 </span>
												    </div>
												</td>                                 
                                                 <td th:switch="${interview.interviewType}">
                                                 		<span th:case="'1'" >
                                               					 <span th:if="${interview.motivationalFeedback != null}">
                                               					 	<button th:data-parameter1="${interview.motivationalFeedback}" onclick="createMotivationalModal(this.getAttribute('data-parameter1'))" type="submit" class="cd-popup-trigger">+</button>
                                               					 </span>
                                                 		</span>
                                                 		<span th:case="'2'" >
                                                 					<span th:if="${interview.technicalFeedback != null}">
                                                 						  <button th:data-parameter2="${interview.technicalFeedback}" onclick="createTechnicalModal(this.getAttribute('data-parameter2'))" type="submit" class="cd-popup-trigger2">+</button> 	
                                                 					</span>
                                                 		</span>                                                                 	
                                                 </td>             
                                            </tr>
                                        </tbody>
                                    </table>
                                    </div>
                                </div>
                                <div id="pagination"></div>
                            </div>
                        </div>
                        <div class="cd-popup" role="alert">
									<div th:replace="fragments/motivFeedbackModal"></div>
                            </div>
                            <div class="cd-popup2" role="alert">
                                <div th:replace="fragments/techFeedbackModal"></div>
                            </div>
                    </div>
                    
                                       <!-- New Interview -->
                </div>
               <div  id="snackbar">
               		<div  id="snackbarRow">
               				 <div class="col-lg-8 col-lg-offset-2" id="snackbarIconColumn">
               				 
               				 </div>
               				  <div class="col-lg-8 col-lg-offset-2" id="snackbarTextColumn">
               				 
               				 </div>    				 
               		</div>
               </div>
            </div>
        </div>
    </body>
</html>
