<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="it">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="initial-scale=1.0, width=device-width" />
        <title>Search</title>
        <link rel='shortcut icon' type='image/x-icon' th:href="@{/images/accenture-icon.ico}" />
        <link th:href="@{/css/spinner.css}" rel="stylesheet" />
        <link th:href="@{/css/form.css}" rel="stylesheet" />
        <link th:href="@{/css/sidebar.css}" rel="stylesheet" />
        <link th:href="@{/css/container.css}" rel="stylesheet" />
        <link th:href="@{/css/header.css}" rel="stylesheet" />
        <link th:href="@{/css/snackbar.css}" rel="stylesheet" />
        <link th:href="@{/css/table.css}" rel="stylesheet" />
        <link th:href="@{/css/general-style.css}" rel="stylesheet" />
        <link th:href="@{/css/popup-container.css}" rel="stylesheet" />
        
        <link th:href="@{/css/cta_header.css}" rel="stylesheet" />
        <link th:href="@{/css/password-icons.css}" rel="stylesheet" />
        
        <link href="https://fonts.cdnfonts.com/css/graphik" rel="stylesheet" type='text/css'>
        <link th:rel="stylesheet" th:href="@{assets/bootstrap-select-1.13.9/dist/css/bootstrap-select.css}" />
        <link th:rel="stylesheet" th:href="@{webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} " />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" />
        <link href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css" rel="stylesheet" />

        <script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
 		<script type="text/javascript" th:src="@{/js/registration.js}"></script>
        <script type="text/javascript" th:src="@{/js/general.js}"></script>
        <script type="text/javascript" th:src="@{/js/interview.js}"></script>
        <script type="text/javascript" th:src="@{/js/table.js}"></script>
        <script type="text/javascript" th:src="@{/js/feedback.js}"></script>
        <script type="text/javascript" th:src="@{/js/sidebar.js}"></script>
        
        <script type="text/javascript" th:src="@{/js/cta-header.js}"></script>
        <script type="text/javascript" th:src="@{/js/password.js}"></script>
    </head>
    <body>
        <div class="interview-html">               
        
			<!-- NUOVO DIV PER HEADER SUPERIORE -->
			<div th:replace="fragments/header"></div>        
        
            <div class="pageRow">   
            
				<div class="col-lg-8 col-lg-offset-2" id="sidebarColumn">
						<div th:replace="fragments/sidebar"></div>  				
				 </div>       
            
                <div class="col-lg-8 col-lg-offset-2" id="containerSearchColumn">
               <div class="container" id="containerSearch">
                           <header class="containerHeader">
						              <label class="containerLabel">Search Interview</label>
						    </header>
                              <div class="col-lg-8 col-lg-offset-2" id="searchFormColumn">
                              <div class="row" id="searchFormRow">
                                <form id="searchInterview" class="inp-form" action="#" th:action="@{/interview/search}" th:object="${searchInterviewTO}" method="post" onsubmit="return validationSearch()" style="display:block" > 
                                    <div class="search-group">
                                        <div class="row">
                                            <div class="column">
                                                <div class="form-group">
                                                    <label> Name</label>
                                                    <input type="text" th:field="*{candidateName}" id="candidateNameId" placeholder="Name" />
                                                </div>
                                            </div>
                                            <div class="column" >
                                                <div class="form-group">
                                                    <label>Surname</label>
                                                    <input type="text" th:field="*{candidateSurname}" id="candidateSurnameId" placeholder="Surname" />
                                                </div>
                                            </div>
                                             <div class="column">
	                                            	<div class="form-group">
	                                                        <label for="candidateType">Candidate Level</label>
	                                                        <select class="formcontrol selectpicker" th:field="*{candidateType}" id="candidateType">
	                                                            <option value="">Nothing selected</option>
	                                                            <option th:each="candidateType : ${T(com.accenture.interview.utils.enums.CandidateTypeEnum).values()}" th:value="${candidateType}" th:text="${candidateType.description}">
	                                                                candidate type
	                                                            </option>
	                                                        </select>
	                                           		</div>
	                                            </div>
                                        
                                        </div>
                                        <div class="row">
                                         	<div class="column">
                                                <div class="form-group">
                                                    <label>Interview Type</label>
                                                    <select class="form-control selectpicker" th:field="*{interviewType}" id="interviewType2">
                                                        <option value="">Nothing selected</option>
                                                        <option th:each="interviewType : ${T(com.accenture.interview.utils.enums.InterviewTypeEnum).values()}" th:value="${interviewType}" th:text="${interviewType.description}">interview type </option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="column">
                                               <div class="form-group">
                                                   <label>Interviewer</label>
                                                   <select class="formcontrol selectpicker" th:field="*{enterpriseId}" id="enterpriseIdS">
                                                            <option value="">Nothing selected</option>
                                                             <option th:each="interviewer : ${interviewerList}" th:value="${interviewer.enterpriseId}" th:text="${interviewer.enterpriseId}">
                                                               site
                                                            </option>
                                                    </select>
                                               </div>
                                             </div>
                                             <div class="column">
                                               	<div class="form-group">
                                                        <label>Site</label>
                                                        <select class="formcontrol selectpicker" th:field="*{site}" id="site">
                                                            <option value="">Nothing selected</option>
                                                             <option th:each="siteElem : ${comboSitesDB}" th:value="${siteElem.name}" th:text="${siteElem.name}">
                                                               site
                                                            </option>
                                                        </select>
                                               		</div>
                                               </div>
                                        </div>                                 
                                        <div class="row">
                                            <div class="column">
                                                <div class="form-group">
                                                    <label>Date between</label>
                                                    <input type="date" th:field="*{firstDate}" id="firstDate" />
                                                </div>
                                            </div>
                                            <div class="column">
                                                <div class="form-group">
                                                    <label>and</label>
                                                    <input type="date" th:field="*{secondDate}" id="secondDate" />
                                                </div>
                                            </div>
                                        </div>                                      
                                        
                                    </div>
                                  <div class="row" id="searchButtonRow">
                                        	<input type="hidden" id="searchTO" th:value="${searchInterviewTO}"/>
                                            <div class="button-column">
                                                <div class="form-group">
                                                    <button  class="search-button" form="searchInterview" type="submit" >Search</button>
                                                </div>
                                            </div>
                                            <div class="button-column">
                                                <div class="form-group">
                                                    <button class="clear-button" form="searchInterview" type="reset" value="Reset" onclick="resetSearchTable()">Clear</button>
                                                </div>
                                            </div>
                                </div>
                                </form>
                                <div id="searchTableContainer" class="responsive">
                                <div th:if= "${not #lists.isEmpty(searchInterviews)}">
                                 <div class="table-row" id="tablePagRow">
                                    <table id="mytable" class="mytable paginated">
                                    <caption style="display:none"></caption>
                                        <thead>
                                            <tr>
                                                <th style="width: 25%;">Candidate</th>
                                                <th style="width: 7%;">Level</th>
                                                <th style="width: 10%;"  >Type</th>
                                                <th style="width: 10%;"  >Date </th>
                                                <th style="width: 14%;">Interviewer</th>
                                                <th style="width: 12%;">Site</th>
                                                <th style="width: 8%;">Feedback</th>
                                                <th style="width: 8%;">Detail</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr class="tableRows" th:each="interview: ${searchInterviews}">
                                                <td th:text="${interview.candidateName} + ' ' + ${interview.candidateSurname}" />                                               
                                                <td th:text= "${interview.candidateLevel}"/>
                                                <td  >
                                                    <span th:if="${interview.interviewType == 1}">Motivazionale</span>
                                                    <span th:unless="${interview.interviewType == 1}">Tecnico</span>
                                                </td>
                                                <td   th:text="${#dates.format(interview.scheduledDate, 'dd-MM-YYYY HH:mm')}" />
                                                 <td th:text= "${interview.enterpriseId}"/>       
                                                 <td th:text= "${interview.site}"/>                                                                         		 
                                           		 <td th:switch="${interview.finalFeedback}">
												    <span th:case="'OK'" th:style="'color: #008000'">OK</span>
												    <span th:case="'KO'" th:style="'color: #b20000'">KO</span>
												    <span th:case="'STANDBY'" th:style="'color: #eed202'">STANDBY</span>
												    <div th:case="*">
												    <span th:if="${interview.status == T(com.accenture.interview.utils.enums.InterviewStatusEnum).SCHEDULED.value}">
												         <span th:if="${interview.interviewType == 1}">
												         		<button type="submit" class="add-feed-button" th:data-parameter1="${interview.idColloquio}" onclick="goToMotivationalFeedback(this.getAttribute('data-parameter1'));"><em id="plusIcon" class='bx bx-plus'></em></button>
												         </span>
                                                    	 <span th:unless="${interview.interviewType == 1}">
                                                    	 		 <button type="submit" class="add-feed-button" th:data-parameter1="${interview.idColloquio}" onclick="goToTechnicalFeedback(this.getAttribute('data-parameter1'));"><em id="plusIcon" class='bx bx-plus'></em></button>
                                                    	 </span>
                                                    </span>
												    </div>
												</td>                                 
                                                 <td th:switch="${interview.interviewType}">
                                                 		<span th:case="'1'" >
                                               					 <span th:if="${interview.motivationalFeedback != null}">
                                               					 	<button th:data-parameter1="${interview.motivationalFeedback}" onclick="createMotivationalModal(this.getAttribute('data-parameter1'))" type="submit" class="motiv-popup"><em id="detailIcon" class='bx bx-search'></em></button>
                                               					 </span>
                                                 		</span>
                                                 		<span th:case="'2'" >
                                                 					<span th:if="${interview.technicalFeedback != null}">
                                                 						  <button th:data-parameter2="${interview.technicalFeedback}" onclick="createTechnicalModal(this.getAttribute('data-parameter2'))" type="submit" class="tech-popup"><em id="detailIcon" class='bx bx-search'></em></button> 	
                                                 					</span>
                                                 		</span>                                                                 	
                                                 </td>             
                                            </tr>
                                        </tbody>
                                    </table>
                                     </div>
                                    </div>
                                </div>
                                </div>

                                <div id="pagination"></div>
                            </div>
                        <div id="motiv-modal" class="cd-popup" role="alert">
									<div th:replace="fragments/motivFeedbackModal"></div>
                            </div>
                            <div id="tech-modal" class="cd-popup2" role="alert">
                                <div th:replace="fragments/techFeedbackModal"></div>
                            </div>
                            
							<div id="change-password-modal" class="cd-popup" role="alert">
							     <div th:replace="fragments/changePasswordModal"></div>
							</div>                           
                    </div>
                    
                                       <!-- New Interview -->
                </div>
               <div  id="snackbar">
               		<div  id="snackbarRow">
               				  <div class="col-lg-8 col-lg-offset-2" id="snackbarTextColumn">
               				 
               				 </div>    				 
               		</div>
               </div>
            </div>
        </div>
        
      <script>
	   	  // Chiude la dropdown se l'utente clicca fuori da essa
	      window.onclick = function(event) {
	      	if (!(event.target.id.includes("ctaDropdownPassword") || event.target.id.includes("nickname"))) {
	      	  var dropdowns = document.getElementsByClassName("dropdown-content-hd");
	      	  var i;
	      	  for (i = 0; i < dropdowns.length; i++) {
	      	    var openDropdown = dropdowns[i];
	      	    if (openDropdown.classList.contains('show')) {
	      	      openDropdown.classList.remove('show');
	      	    }
	      	  }
	      	}
	      }      
      </script>         
    </body>
</html>
