<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="it">
   <head>
      <meta charset="UTF-8"/>
      <title>Technical Feedback</title>
        <link th:href="@{/css/form.css}" rel="stylesheet" />
        <link th:href="@{/css/sidebar.css}" rel="stylesheet" />
        <link th:href="@{/css/container.css}" rel="stylesheet" />
        <link th:href="@{/css/header.css}" rel="stylesheet" />
        <link th:href="@{/css/snackbar.css}" rel="stylesheet" />
        <link th:href="@{/css/general-style.css}" rel="stylesheet" />
        <link th:href="@{/css/popup-container.css}" rel="stylesheet" />
        <link th:rel="stylesheet" th:href="@{assets/bootstrap-select-1.13.9/dist/css/bootstrap-select.css}" />
        <link th:rel="stylesheet" th:href="@{webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} " />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css" />
        <link href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css" rel="stylesheet" />

        <script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
        <script type="text/javascript" th:src="@{/js/funzionalita.js}"></script>
        <script type="text/javascript" th:src="@{/js/funzionalita2.js}"></script>
        <script type="text/javascript" th:src="@{/js/sidebar.js}"></script>
   </head>
   <body>
      <div class="interview-html">                      
			<!-- NUOVO DIV PER HEADER SUPERIORE -->
			<div th:replace="fragments/header"></div>         
         
            <div class="pageRow">
            
				<div class="col-lg-8 col-lg-offset-2" id="sidebarColumn">
						<div th:replace="fragments/sidebar"></div>  				
				</div>            
            
               <div class="col-lg-8 col-lg-offset-2" id="containerColumn">
                  <div class="container" id ="containerInsert">
                  		<header class="containerHeader">
						              <label class="containerLabel">Insert technical feedback</label>
						   </header>	
                        <div class="col-lg-8 col-lg-offset-2"  id="insertFormColumn">
                           <form class="inp-form" id="insertTechFeedback" action="#" th:action="@{/feedback/technical/insert}" th:object="${createTechFeedbackTO}" method="post">
                                   <div class="row">
                                       <div class="column">
                                          <div class="form-group">
                                             <label>Java</label>
                                             <input class ="num-input" type="number" min="0" max="10" th:field="*{java}" placeholder="java"/>
                                             <small th:if="${#fields.hasErrors('java')}" th:errors="*{java}">java Error</small>
                                          </div>
                                       </div>
                                       <div class="column">
                                          <div class="form-group">
                                             <label>Spring</label>
                                             <input class ="num-input" type="number" min="0" max="10" th:field="*{spring}" placeholder="spring"/>
                                             <small th:if="${#fields.hasErrors('spring')}" th:errors="*{spring}">Spring Level Error</small>
                                          </div>
                                       </div>
                                       <div class="column">
                                          <div class="form-group">
                                             <label>SQL</label>
                                             <input class ="num-input" type="number" min="0" max="10" th:field="*{sqlVoto}" placeholder="sql"/>
                                             <small th:if="${#fields.hasErrors('sqlVoto')}" th:errors="*{sqlVoto}">SQL Voto Error</small>
                                          </div>
                                       </div>
                                    </div>
                                    <div class="row">
                                       <div class="column">
                                          <div class="form-group">
                                             <label>HTML-CSS</label>
                                             <input class ="num-input" type="number" min="0" max="10" th:field="*{htmlCss}" placeholder="html-css" />
                                             <small th:if="${#fields.hasErrors('htmlCss')}" th:errors="*{htmlCss}">htmlCss Error</small>
                                          </div>
                                       </div>
                                       <div class="column">
                                          <div class="form-group">
                                             <label>Angular</label>
                                             <input class ="num-input" type="number" min="0" max="10" th:field="*{angular}"  placeholder="angular"/>
                                             <small th:if="${#fields.hasErrors('angular')}" th:errors="*{angular}">Angular Error</small>
                                          </div>
                                       </div>
                                       <div class="column">
                                          <div class="form-group">
                                             <label>Other</label>
                                             <input class ="num-input" type="number" min="0" max="10" th:field="*{other}"  placeholder="other question">
                                             <small th:if="${#fields.hasErrors('other')}" th:errors="*{other}">Other Error</small>
                                          </div>
                                       </div>
                                    </div>
                                    <div class="row">                                                                          
                                        <div class="column">
                                        <div class="form-group">
                                             <label for="finalFeedback">Final feedback</label>
                                             <select class="formcontrol selectpicker" th:field="*{finalFeedback}" id="finalFeedback">
                                                <option value="">Nothing selected</option>
                                                <option value="OK">OK</option>
                                                <option value="KO">KO</option>
                                             </select>
                                             <small th:if="${#fields.hasErrors('finalFeedback')}" th:errors="*{finalFeedback}">Final feedback Error</small>
                                          </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                          <div class="one-column">
                                             <div class="form-group">
                                                <label>Comment</label>
                                                <textarea th:field="*{comment}" name="subject" placeholder="Write something.." style="height:200px"></textarea>
                                                <small th:if="${#fields.hasErrors('comment')}" th:errors="*{comment}">Comment Error</small>
                                             </div>
                                          </div>
                                       </div>
                                       <div class="row" id="buttonRow">
                                          <div class="button-column">
                                             <div class="form-group">
                                                <button class="submit-button" type="submit">Submit</button>	
                                             </div>
                                          </div>
                                           <div class="button-column">
                                             <div class="form-group">
                                                <button class="clear-button" type="reset" value="Reset" >Clear</button>	
                                             </div>
                                          </div>
                                       </div>
                               </form>  
                              </div>
                     </div>
                  </div>
               
               <div  id="snackbar">
	               		<div  id="snackbarRow">
	               				 <div class="col-lg-8 col-lg-offset-2" id="snackbarIconColumn">
	               				 
	               				 </div>
	               				  <div class="col-lg-8 col-lg-offset-2" id="snackbarTextColumn">
	               				 
	               				 </div>    				 
	               		</div>
               </div>
               <div id="register-modal" class="cd-popup" role="alert">
                                <div th:replace="fragments/registerUserModal"></div>
               		</div>
               </div>
         </div>
   </body>
</html>