<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
   <head>
      <meta charset="UTF-8"/>
      <title>Technical Feedback</title>
        <link th:href="@{/form2.css}" rel="stylesheet" />
        <link th:href="@{/sidebar.css}" rel="stylesheet" />
        <link th:href="@{/form-container.css}" rel="stylesheet" />
        <link th:href="@{/header.css}" rel="stylesheet" />
        <link th:href="@{/snackbar.css}" rel="stylesheet" />
        <link th:rel="stylesheet" th:href="@{assets/bootstrap-select-1.13.9/dist/css/bootstrap-select.css}" />
        <link th:rel="stylesheet" th:href="@{webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} " />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css" />
        <link href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css" rel="stylesheet" />

        <script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
        <script type="text/javascript" th:src="@{/js/funzionalita.js}"></script>
        <script type="text/javascript" th:src="@{/js/funzionalita2.js}"></script>
        <script type="text/javascript" th:src="@{/js/sidebar.js}"></script>
   </head>
   <body>
      <div class="interview-html">
         <div class="interview-wrap">
         
			<!-- NUOVO DIV PER HEADER SUPERIORE E SIDEBAR (LATERALE) -->
			<!-- <div th:replace="fragments/header-sidebar"></div> -->         
         
			<!-- NUOVO DIV PER HEADER SUPERIORE -->
			<div th:replace="fragments/header"></div>         
         
<!--             <div class="row" id="headerRow">
		            	<div class="col-lg-8 col-lg-offset-2" id="imageColumn">
		            		 <img id="accentureLogo" src="../static/images/accenture-logo.png" th:src="@{/images/accenture-logo.png}" /> 
		            	</div>
		            	
		            	<div class="col-lg-8 col-lg-offset-2" id="titleColumn">
		            		
		            	</div>
		            	
		            	<div class="col-lg-8 col-lg-offset-2" id="userColumn">
		            		<div id="userContainer">
		            			<div class="row" id="iconRow">
			            			<i id="userIcon" class="fa-solid fa-circle-user"></i>
			            		</div>
			            		<div class="row" id="nicknameRow">
			                    	<label th:text="${interviewer.enterpriseId}" id="nickname">User</label>
			                    </div>
		                    </div>
		            	</div>
	        </div> -->
            <div class="row" id="pageRow">
            
			<!-- NUOVO DIV PER SIDEBAR (LATERALE) -->
			<div th:replace="fragments/sidebar"></div>            
            
<!--                <div class="col-lg-8 col-lg-offset-2" id="sidebarColumn">
                  <div class="sidebar close">
                     <header id="sidebarHeader">
                        <i id="sidebarMenuIcon" class="bx bx-menu"></i>
                     </header>
                     <ul class="nav-links">
                        <li onclick="RedirectHome()">
                           <a>
                           <i class="bx bx-home" style="color: #3c4ffd;"></i>
                           <span class="link_name">Home</span>
                           </a>
                           <ul class="sub-menu blank">
                              <li onclick="RedirectHome()"><a class="link_name">Home</a></li>
                           </ul>
                        </li>
                        <li>
                           <div class="iocn-link">
                              <a>
                              <i class="bx bx-collection" style="color: #3c4ffd;"></i>
                              <span class="link_name">Interview</span>
                              </a>
                              <i class="bx bxs-chevron-down arrow" id="interviewArrow" style="color: #3c4ffd;"></i>
                           </div>
                           <ul class="sub-menu">
                              <li onclick="RedirectManage()"><a>New/Search</a></li>
                           </ul>
                        </li>
                        <li>
                           <div class="iocn-link">
                              <a>
                              <i class="bx bx-history" style="color: #3c4ffd;"></i>
                              <span class="link_name">History</span>
                              </a>
                              <i class="bx bxs-chevron-down arrow" style="color: #3c4ffd;"></i>
                           </div>
                           <ul class="sub-menu">
                              <li onclick="RedirectMyInterviews()"><a>Completed</a></li>
                              <li onclick="RedirectInProgress()"><a>In Progress</a></li>
                           </ul>
                        </li>
                        <li>
                           <a>
                           <i class="bx bx-log-out" style="color: #3c4ffd;"></i>
                           <span class="link_name">Logout</span>
                           </a>
                           <ul class="sub-menu blank">
                              <li><a class="link_name">Logout</a></li>
                           </ul>
                        </li>
                     </ul>
                  </div>
                  <section class="home-section">
                     <div class="home-content"></div>
                  </section>
               </div> -->
               <div class="col-lg-8 col-lg-offset-2" id="containerColumn">
                  <div class="container" id ="containerTechF">
                     <div class="row">
                        <header id="containerInsertMotHeader">
                           <label id="interviewInformations">Feedback informations </label>
                        </header>
                        <div class="col-lg-8 col-lg-offset-2">
                           <form id="insertTechFeedback" action="#" th:action="@{/feedback/technical/insert}" th:object="${createTechFeedbackTO}" method="post">
                                   <div class="row" id="backendRow">
                                       <div class="column">
                                          <div class="form-group">
                                             <label><i class="fa-brands fa-java"></i> Java</label>
                                             <input type="number" min="0" max="10" th:field="*{java}" placeholder="java"/>
                                             <small th:if="${#fields.hasErrors('java')}" th:errors="*{java}">java Error</small>
                                          </div>
                                       </div>
                                       <div class="column">
                                          <div class="form-group">
                                             <label><i class="fa-solid fa-laptop-code"></i> Spring</label>
                                             <input type="number" min="0" max="10" th:field="*{spring}" placeholder="spring"/>
                                             <small th:if="${#fields.hasErrors('spring')}" th:errors="*{spring}">Spring Level Error</small>
                                          </div>
                                       </div>
                                       <div class="column">
                                          <div class="form-group">
                                             <label><i class="fa-solid fa-database"></i> SQL</label>
                                             <input type="number" min="0" max="10" th:field="*{sqlVoto}" placeholder="sqlVoto"/>
                                             <small th:if="${#fields.hasErrors('sqlVoto')}" th:errors="*{sqlVoto}">SQL Voto Error</small>
                                          </div>
                                       </div>
                                    </div>
                                    <div class="row">
                                       <div class="column">
                                          <div class="form-group">
                                             <label><i class="fa fa-html5"></i> HTML <i class="fa-brands fa-css3-alt"></i> CSS</label>
                                             <input type="number" min="0" max="10" th:field="*{htmlCss}" placeholder="htmlCss" />
                                             <small th:if="${#fields.hasErrors('htmlCss')}" th:errors="*{htmlCss}">htmlCss Error</small>
                                          </div>
                                       </div>
                                       <div class="column">
                                          <div class="form-group">
                                             <label><i class="fa-brands fa-angular"></i> Angular</label>
                                             <input type="number" min="0" max="10" th:field="*{angular}"  placeholder="angular"/>
                                             <small th:if="${#fields.hasErrors('angular')}" th:errors="*{angular}">Angular Error</small>
                                          </div>
                                       </div>
                                    </div>
                                    <div class="row">                                     
                                       <div class="column">
                                          <div class="form-group">
                                             <label><i class="fa-solid fa-code"></i> Other</label>
                                             <input type="number" min="0" max="10" th:field="*{other}"  placeholder="other question">
                                             <small th:if="${#fields.hasErrors('other')}" th:errors="*{other}">Other Error</small>
                                          </div>
                                       </div>
                                        <div class="column">
                                        <div class="form-group">
                                             <label for="finalFeedback"><i class="fa fa-briefcase"></i> Final feedback</label>
                                             <select class="formcontrol selectpicker" th:field="*{finalFeedback}" id="finalFeedback">
                                                <option value="">Nothing selected</option>
                                                <option value="OK">OK</option>
                                                <option value="KO">KO</option>
                                             </select>
                                             <small th:if="${#fields.hasErrors('finalFeedback')}" th:errors="*{finalFeedback}">Final feedback Error</small>
                                          </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                          <div class="one-column">
                                             <div class="form-group">
                                                <label><i class="fa-solid fa-pen-to-square"></i> Comment</label>
                                                <textarea th:field="*{comment}" name="subject" placeholder="Write something.." style="height:200px"></textarea>
                                                <small th:if="${#fields.hasErrors('comment')}" th:errors="*{comment}">Comment Error</small>
                                             </div>
                                          </div>
                                       </div>
                                       <div class="row">
                                          <div class="column">
                                             <div class="form-group">
                                                <button class="submit-button" type="submit">Submit <i class="fa fa-check"></i></button>	
                                             </div>
                                          </div>
                                          <div class="column">
                                             <div class="form-group">
                                                <button class="clear-button" type="reset" value="Reset" >Clear <i class="fa fa-trash"></i></button>	
                                             </div>
                                          </div>
                                       </div>
                               </form>  
                              </div>
                           
                        </div>
                     </div>
                  </div>
               </div>
               <div id="snackbar"></div>
            </div>
         </div>
      </div>
   </body>
</html>