<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="it">
   <head>
      <meta charset="UTF-8"/>
      <title>Feedback</title>
      <link rel='shortcut icon' type='image/x-icon' th:href="@{/images/accenture-icon.ico}" />
      	<link th:href="@{/css/spinner.css}" rel="stylesheet" />
        <link th:href="@{/css/form.css}" rel="stylesheet" />
        <link th:href="@{/css/sidebar.css}" rel="stylesheet" />
        <link th:href="@{/css/container.css}" rel="stylesheet" />
        <link th:href="@{/css/header.css}" rel="stylesheet" />
        <link th:href="@{/css/snackbar.css}" rel="stylesheet" />
        <link th:href="@{/css/general-style.css}" rel="stylesheet" />
        <link th:href="@{/css/popup-container.css}" rel="stylesheet" />
        
        <link th:href="@{/css/cta_header.css}" rel="stylesheet" />
        <link th:href="@{/css/password-icons.css}" rel="stylesheet" />
        
        <link href="https://fonts.cdnfonts.com/css/graphik" rel="stylesheet" type='text/css'>
        <link th:rel="stylesheet" th:href="@{assets/bootstrap-select-1.13.9/dist/css/bootstrap-select.css}" />
        <link th:rel="stylesheet" th:href="@{webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} " />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css" />
        <link href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css" rel="stylesheet" />

        <script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
      	<script type="text/javascript" th:src="@{/js/general.js}"></script>
      	<script type="text/javascript" th:src="@{/js/registration.js}"></script>
      	<script type="text/javascript" th:src="@{/js/feedback.js}"></script>
        <script type="text/javascript" th:src="@{/js/sidebar.js}"></script>
        
        <script type="text/javascript" th:src="@{/js/cta-header.js}"></script>
        <script type="text/javascript" th:src="@{/js/password.js}"></script>
   </head>
   <body>
      <div class="interview-html">                      
			<!-- NUOVO DIV PER HEADER SUPERIORE -->
			<div th:replace="fragments/header"></div>         
         
            <div class="pageRow">
            
				<div class="col-lg-8 col-lg-offset-2" id="sidebarColumn">
						<div th:replace="fragments/sidebar"></div>  				
				</div>            
            
               <div class="col-lg-8 col-lg-offset-2" id="containerColumn" style="height:500px; overflow-y:scroll;">
                  <div class="container" id ="containerInsert" style="height:auto">
                  		<header class="containerHeader">
						              <label class="containerLabel">Insert technical feedback</label>
						   </header>	
                        <div class="col-lg-8 col-lg-offset-2"  id="insertFormColumn">
                           <form class="inp-form" id="insertTechFeedback" action="#" th:action="@{/feedback/technical/insert}" th:object="${createTechFeedbackTO}" method="post">                                                              		
                                   
                                    <div class="row">                                                                      
                                       <div class="column" style="width:50%">
                                          <div class="form-group">
                                             <label>Technology</label>                                             
                                             <input id="descr_tech_1" class="text-input" type="text" th:field="*{techList[0].technology}" placeholder="Technology name" />                                          
                                          </div>
                                       </div>                                   
                                       <div class="column" style="width:20%">
                                          <div class="form-group">
                                             <label>Score</label>
                                             <input id="score_tech_1" class="text-input" type="text"  th:field="*{techList[0].score}" placeholder="Technology score"/>                                                                                          
                                          </div>
                                       </div>
                                       <div class="column" style="width:30%">
                                          <div class="form-group">                                          	 
                                             <table>
                                                <tr style="display:none">
                                             	<th style="display:none"></th>
                                             </tr>
                                             <caption style="display:none"></caption>
                                             	<tr style="height:25px"><td colspan="2">&nbsp;&nbsp;</td></tr>                                           	
                                             	<tr><td colspan="2"><em id="plusIcon_1" class='bx bx-plus' 
                                             	            style="font-size: 20px; color: #0a58ca; cursor: pointer;" 
                                             	            onclick="var x = document.getElementById('div_tech_2'); x.style.display = 'block'; setupDivTech();"></em>
                                             	    </td>
                                             	</tr>
                                             </table> 
                                          </div>
                                       </div>
                                    </div>                                    
                                    <div id="div_tech_2" class="row" style="display: none;">
                                       <div class="column" style="width:50%">
                                          <div class="form-group">
                                             <label>Technology</label>
											 <input id="descr_tech_2" type="text" th:field="*{techList[1].technology}" placeholder="Technology name" /> 
                                          </div>
                                       </div>
                                       <div class="column" style="width:20%">
                                          <div class="form-group">
                                             <label>Score</label>
                                             <input id="score_tech_2" class="text-input" type="text" th:field="*{techList[1].score}"  placeholder="Technology score"/>
                                          </div>
                                       </div>
                                       <div class="column" style="width:30%">
                                          <div class="form-group">
                                             <table>
                                             <caption style="display:none"></caption>
                                             <tr style="display:none">
                                             	<th style="display:none"></th>
                                             </tr>
                                             	
                                             	<tr style="height:25px"><td colspan="2">&nbsp;&nbsp;</td></tr>                                           	
                                             	<tr><td><em id="plusIcon_2" class='bx bx-plus' 
                                             	            style="font-size: 20px; color: #0a58ca; cursor: pointer;" 
                                             	            onclick="var x = document.getElementById('div_tech_3'); x.style.display = 'block'; setupDivTech();"></em>
                                             	    </td>
                                             	    <td><em id="minusIcon_2" class='bx bx-minus'
                                             	            style="font-size: 20px; color: #0a58ca; cursor: pointer;"
                                             	            onclick="var x = document.getElementById('div_tech_2'); x.style.display = 'none'; deleteValues(2); setupDivTech();"></em>                                             	        
                                             	    </td>
                                             	</tr>
                                             </table>
                                          </div>
                                       </div>
                                    </div>
                                    <div id="div_tech_3" class="row" style="display: none;">
                                       <div class="column" style="width:50%">
                                          <div class="form-group">
                                             <label>Technology</label>
											 <input id="descr_tech_3" class="text-input" type="text" th:field="*{techList[2].technology}" placeholder="Technology name" />
                                          </div>
                                       </div>
                                       <div class="column" style="width:20%">
                                          <div class="form-group">
                                             <label>Score</label>
                                             <input id="score_tech_3" class="text-input" type="text"  th:field="*{techList[2].score}" placeholder="Technology score"/>                                             
                                          </div>
                                       </div>
                                       <div class="column" style="width:30%">
                                          <div class="form-group">
                                             <table>
                                                <tr style="display:none">
                                             	<th style="display:none"></th>
                                             </tr>
                                             <caption style="display:none"></caption>
                                             	<tr style="height:25px"><td colspan="2">&nbsp;&nbsp;</td></tr>                                           	
                                             	<tr><td><em id="plusIcon_3" class='bx bx-plus' 
                                             	            style="font-size: 20px; color: #0a58ca; cursor: pointer;" 
                                             	            onclick="var x = document.getElementById('div_tech_4'); x.style.display = 'block'; setupDivTech();"></em>
                                             	    </td>
                                             	    <td><em id="minusIcon_3" class='bx bx-minus'
                                             	            style="font-size: 20px; color: #0a58ca; cursor: pointer;"
                                             	            onclick="var x = document.getElementById('div_tech_3'); x.style.display = 'none'; deleteValues(3); setupDivTech();"></em>                                             	        
                                             	    </td>                                             	    
                                             	</tr>
                                             </table>
                                          </div>
                                       </div>
                                    </div>
                                    <div id="div_tech_4" class="row" style="display: none;">
                                       <div class="column" style="width:50%">
                                          <div class="form-group">
                                             <label>Technology</label>
											 <input id="descr_tech_4" class="text-input" type="text" th:field="*{techList[3].technology}" placeholder="Technology name" />
                                          </div>
                                       </div>
                                       <div class="column" style="width:20%">
                                          <div class="form-group">
                                             <label>Score</label>
                                             <input id="score_tech_4" class="text-input" type="text"  th:field="*{techList[3].score}" placeholder="Technology score"/>                                             
                                          </div>
                                       </div>
                                       <div class="column" style="width:30%">
                                          <div class="form-group">
                                             <table>
                                                <tr style="display:none">
                                             	<th style="display:none"></th>
                                             </tr>
                                             <caption style="display:none"></caption>
                                             	<tr style="height:25px"><td colspan="2">&nbsp;&nbsp;</td></tr>                                           	
                                             	<tr><td><em id="plusIcon_4" class='bx bx-plus' 
                                             	            style="font-size: 20px; color: #0a58ca; cursor: pointer;" 
                                             	            onclick="var x = document.getElementById('div_tech_5'); x.style.display = 'block'; setupDivTech();"></em>
                                             	    </td>
                                             	    <td><em id="minusIcon_4" class='bx bx-minus'
                                             	            style="font-size: 20px; color: #0a58ca; cursor: pointer;"
                                             	            onclick="var x = document.getElementById('div_tech_4'); x.style.display = 'none'; deleteValues(4); setupDivTech();"></em>                                             	        
                                             	    </td>                                             	    
                                             	</tr>
                                             </table>
                                          </div>
                                       </div>
                                    </div>
                                    <div id="div_tech_5" class="row" style="display: none;">
                                       <div class="column" style="width:50%">
                                          <div class="form-group">
                                             <label>Technology</label>
											 <input id="descr_tech_5" class="text-input" type="text" th:field="*{techList[4].technology}" placeholder="Technology name" />
                                          </div>
                                       </div>
                                       <div class="column" style="width:20%">
                                          <div class="form-group">
                                             <label>Score</label>
                                             <input id="score_tech_5" class="text-input" type="text"  th:field="*{techList[4].score}" placeholder="Technology score"/>                                             
                                          </div>
                                       </div>
                                       <div class="column" style="width:30%">
                                          <div class="form-group">
                                             <table>
                                                <tr style="display:none">
                                             	<th style="display:none"></th>
                                             </tr>
                                             <caption style="display:none"></caption>
                                             	<tr style="height:25px"><td colspan="2">&nbsp;&nbsp;</td></tr>                                           	
                                             	<tr><td><em id="plusIcon_5" class='bx bx-plus' 
                                             	            style="font-size: 20px; color: #0a58ca; cursor: pointer;" 
                                             	            onclick="var x = document.getElementById('div_tech_6'); x.style.display = 'block'; setupDivTech();"></em>
                                             	   	</td>
                                             	    <td><em id="minusIcon_5" class='bx bx-minus'
                                             	            style="font-size: 20px; color: #0a58ca; cursor: pointer;"
                                             	            onclick="var x = document.getElementById('div_tech_5'); x.style.display = 'none'; deleteValues(5); setupDivTech();"></em>                                             	        
                                             	    </td>                                             	   	
                                             	</tr>
                                             </table>
                                          </div>
                                       </div>
                                    </div>
                                    <div id="div_tech_6" class="row" style="display: none;">
                                       <div class="column" style="width:50%">
                                          <div class="form-group">
                                             <label>Technology</label>
                                             <input id="descr_tech_6" class="text-input" type="text" th:field="*{techList[5].technology}" placeholder="Technology name" />
                                          </div>
                                       </div>
                                       <div class="column" style="width:20%">
                                          <div class="form-group">
                                             <label>Score</label>
                                             <input id="score_tech_6" class="text-input" type="text"  th:field="*{techList[5].score}" placeholder="Technology score"/>                                             
                                          </div>
                                       </div>
                                       <div class="column" style="width:30%">
                                          <div class="form-group">
                                             <table>
                                                <tr style="display:none">
                                             	<th style="display:none"></th>
                                             </tr>
                                             <caption style="display:none"></caption>
                                             	<tr style="height:25px"><td colspan="2">&nbsp;&nbsp;</td></tr>                                           	
                                             	<tr><td colspan="2"><em id="minusIcon_6" class='bx bx-minus'
                                             	            style="font-size: 20px; color: #0a58ca; cursor: pointer;"
                                             	            onclick="var x = document.getElementById('div_tech_6'); x.style.display = 'none'; deleteValues(6); setupDivTech();"></em>                                             	        
                                             	    </td>                                             	   	
                                             	</tr>
                                             </table>
                                          </div>
                                       </div>
                                    </div>                                                                                                                                                
                                    <div class="row">                                                                          
                                        <div class="column">
                                        <div class="form-group">
                                             <label for="finalFeedback">Final feedback</label>
                                             <select class="formcontrol selectpicker" th:field="*{finalFeedback}" id="finalFeedback">
                                                <option value="">Nothing selected</option>
                                                <option value="OK">OK</option>
                                                <option value="KO">KO</option>
                                                <option value="STANDBY">STAND-BY</option>
                                             </select>
                                             <small th:if="${#fields.hasErrors('finalFeedback')}" th:errors="*{finalFeedback}">Final feedback Error</small>
                                          </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                          <div class="one-column">
                                             <div class="form-group">
                                                <label>Comment</label>
                                                <textarea th:field="*{comment}" name="subject" placeholder="Write something.." style="height:200px"></textarea>
                                                <small th:if="${#fields.hasErrors('comment')}" th:errors="*{comment}">Comment Error</small>
                                             </div>
                                          </div>
                                     </div>
                                     <div class="row" id="buttonRow">
                                          <div class="button-column">
                                             <div class="form-group">
                                                <button id="btn_tech-feed_submit" class="submit-spinner" 
										        type="submit" onclick="this.classList.toggle('submit-spinner--loading')">
												<span class="button-text">Submit</span></button>
                                             </div>
                                          </div>
                                           <div class="button-column">
                                             <div class="form-group">
                                                <button class="clear-button" type="reset" value="Reset" >Clear</button>	
                                             </div>
                                          </div>
                                     </div>

                               </form>  
                              </div>
                                                            
						<div id="change-password-modal" class="cd-popup" role="alert">
						     <div th:replace="fragments/changePasswordModal"></div>
						</div>                             
                     </div>
                  </div>
               
  				<div  id="snackbar">
               		<div  id="snackbarRow">
               				  <div class="col-lg-8 col-lg-offset-2" id="snackbarTextColumn">
               				 
               				 </div>    				 
               		</div>
               </div>
               </div>
         </div>
   		<script>
   		function deleteValues(num) {
   			var descrTech = document.getElementById("descr_tech_" + num);
   			var scoreTech = document.getElementById("score_tech_" + num);
   			descrTech.value = '';
   			scoreTech.value = '';
   		}   		
   		
   		function setupDivTech() {
   			var count = 1;
   			var div_2 = document.getElementById('div_tech_2');
   			var div_3 = document.getElementById('div_tech_3');
   			var div_4 = document.getElementById('div_tech_4');
   			var div_5 = document.getElementById('div_tech_5');
   			var div_6 = document.getElementById('div_tech_6');
   			
   			if (div_2.style.display == "block") {
   				count = count + 1;
   			}
   			if (div_3.style.display == "block") {
   				count = count + 1;
   			}
   			if (div_4.style.display == "block") {
   				count = count + 1;
   			}
   			if (div_5.style.display == "block") {
   				count = count + 1;
   			}
   			if (div_6.style.display == "block") {
   				count = count + 1;
   			}
			
   			if (count == 1) {
   				document.getElementById("plusIcon_1").style.display = "block";
   			} else {
   				document.getElementById("plusIcon_1").style.display = "none";
   			}
   			
   			if (count == 2) {
   				document.getElementById("plusIcon_2").style.display = "block";
   				document.getElementById("minusIcon_2").style.display = "block";
   			} else {
   				document.getElementById("plusIcon_2").style.display = "none";
   				document.getElementById("minusIcon_2").style.display = "none";
   			}
   			
   			if (count == 3) {
   				document.getElementById("plusIcon_3").style.display = "block";
   				document.getElementById("minusIcon_3").style.display = "block";
   			} else {
   				document.getElementById("plusIcon_3").style.display = "none";
   				document.getElementById("minusIcon_3").style.display = "none";
   			}
   			
   			if (count == 4) {
   				document.getElementById("plusIcon_4").style.display = "block";
   				document.getElementById("minusIcon_4").style.display = "block";
   			} else {
   				document.getElementById("plusIcon_4").style.display = "none";
   				document.getElementById("minusIcon_4").style.display = "none";
   			}
   			
   			if (count == 5) {
   				document.getElementById("plusIcon_5").style.display = "block";
   				document.getElementById("minusIcon_5").style.display = "block";
   			} else {
   				document.getElementById("plusIcon_5").style.display = "none";
   				document.getElementById("minusIcon_5").style.display = "none";
   			}
   			
   			if (count == 6) {
   				document.getElementById("minusIcon_6").style.display = "block";
   			} else {
   				document.getElementById("minusIcon_6").style.display = "none";
   			}
   		}
   		</script>
   		
      <script>
	   	  // Chiude la dropdown se l'utente clicca fuori da essa
	      window.onclick = function(event) {
	      	if (!(event.target.id.includes("ctaDropdownPassword") || event.target.id.includes("nickname"))) {
	      	  var dropdowns = document.getElementsByClassName("dropdown-content-hd");
	      	  var i;
	      	  for (i = 0; i < dropdowns.length; i++) {
	      	    var openDropdown = dropdowns[i];
	      	    if (openDropdown.classList.contains('show')) {
	      	      openDropdown.classList.remove('show');
	      	    }
	      	  }
	      	}
	      }      
      </script>    		
   </body>
</html>