<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="it">
    <head>
        <meta charset="UTF-8" />
        <title>Users</title>
         <link rel='shortcut icon' type='image/x-icon' th:href="@{/images/accenture-icon.ico}" />
        <link th:href="@{/css/spinner.css}" rel="stylesheet" />        
        <link th:href="@{/css/form.css}" rel="stylesheet" />
        <link th:href="@{/css/sidebar.css}" rel="stylesheet" />
        <link th:href="@{/css/container.css}" rel="stylesheet" />
        <link th:href="@{/css/header.css}" rel="stylesheet" />
        <link th:href="@{/css/general-style.css}" rel="stylesheet" />
        <link th:href="@{/css/popup-container.css}" rel="stylesheet" />
        <link th:href="@{/css/table.css}" rel="stylesheet" />
        <link th:href="@{/css/snackbar.css}" rel="stylesheet" />       
        <link th:href="@{/css/cta.css}" rel="stylesheet" />        
        
        <link href="https://fonts.cdnfonts.com/css/graphik" rel="stylesheet" type='text/css'>
        <link th:rel="stylesheet" th:href="@{assets/bootstrap-select-1.13.9/dist/css/bootstrap-select.css}" />
        <link th:rel="stylesheet" th:href="@{webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} " />
        <link href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
        <script src="https://kit.fontawesome.com/ee5a107043.js" crossorigin="anonymous"></script>
        <meta name="viewport" content="initial-scale=1.0, width=device-width" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
      	<script type="text/javascript" th:src="@{/js/general.js}"></script>
      	<script type="text/javascript" th:src="@{/js/registration.js}"></script>
      	<script type="text/javascript" th:src="@{/js/availability.js}"></script>
      	<script type="text/javascript" th:src="@{/js/table.js}"></script>
      	<script type="text/javascript" th:src="@{/js/feedback.js}"></script>
        <script type="text/javascript" th:src="@{/js/sidebar.js}"></script>
        
        <style>
        	a {cursor: pointer;}
        </style>
    </head>
    <body>
        <div class="interview-html">
			<div th:replace="fragments/header"></div>
			
            <div class="pageRow">
            
			<div class="col-lg-8 col-lg-offset-2" id="sidebarColumn">
						<div th:replace="fragments/sidebar"></div>  				
				 </div>      
						
                <div class="col-lg-8 col-lg-offset-2" id="containerColumn">
                    <div class="container" id="inProgressContainer">
                             <header class="containerHeader">
						              <label class="containerLabel">Users</label>
						              <a class="popup-register"> 
						              		<em id="plusIconUsers" class='bx bx-plus'></em>
						              </a>	
						    </header>	
                            <div class="col-lg-8 col-lg-offset-2" id="tableFormColumn">
                                <table id="usersTable" class="mytable paginated">
                                    <tr>
                                        <th>Enterprise Id </th>
                                        <th>Ruolo </th>
                                        <th class="remove">Mail </th>
                                        <th>Status </th>
                                        <th></th>                                                                                
                                    </tr>
                                    <tr class="tableRows" th:each="interviewer: ${interviewers}">
 										<td th:text="${interviewer.enterpriseId}" />						
                                        <td>
                                            <span th:if="${interviewer.type == T(com.accenture.interview.utils.enums.InterviewerTypeEnum).getIdFromDescription('RESPONSABILE')}">Responsabile</span>
                                            <span th:unless="${interviewer.type == T(com.accenture.interview.utils.enums.InterviewerTypeEnum).getIdFromDescription('RESPONSABILE')}">Normale</span>
                                        </td>
 										<td class="remove" th:text="${interviewer.mail}" />										
                                        <td>
                                            <span th:if="${interviewer.status == 1}">Attivo</span>
                                            <span th:unless="${interviewer.status == 1}">Inattivo</span>
                                        </td>				 										
 										<td>
 											<div class="dropdown"> 										
 												<i th:id="'ctaImg_' + ${interviewer.id}" class='bx bx-dots-vertical-rounded bx-sm' style="cursor: pointer;"
 												   th:onclick="'ctaFunction(\'' + 'ctaDropdown_' + ${interviewer.id} + '\')'"></i>
												<div th:id="'ctaDropdown_' + ${interviewer.id}" class="dropdown-content">											    												    	
											    	<a th:id="'modificaLink_' + ${interviewer.id}" th:attr="data-eid=${interviewer.enterpriseId}" th:onclick="'openPopupUser(' + ${interviewer.id} + ', event)'">Modifica</a>
											    	<a th:id="'abilita-disabilitaLink_' + ${interviewer.id}" th:onclick="'abilitaDisabilita(' + ${interviewer.id} + ', event)'">Abilita/Disabilita</a>
												</div>									
 											</div>
 										</td> 										
 										 
                                    </tr>
                                </table>
                            </div>
                    </div>
                </div>              
               <div id="register-modal" class="cd-popup" role="alert">
                                <div th:replace="fragments/registerUserModal"></div>
               </div>
               
               <div id="availability-modal" class="cd-popup" role="alert">
                                <div th:replace="fragments/availabilityModal"></div>
               </div>
               
               <div id="modify-modal" class="cd-popup" role="alert">
                                <div th:replace="fragments/modifyUserModal"></div>
               </div>               
            </div>
              <div  id="snackbar">
               		<div  id="snackbarRow">
               				  <div class="col-lg-8 col-lg-offset-2" id="snackbarTextColumn">
               				 
               				 </div>    				 
               		</div>
               </div>
          </div>
          
		<script>
		function abilitaDisabilita(userId, event) {
			$.ajax({
		        type: "POST",
		        url: "/interview-ms/interviewer/enable-disable",
		        data: {userIdParam : "" + userId},
		        success: function (result) {
		        	RedirectUsers();
		        },
		        error: function (result) {
		        	showToast(result.responseText, "ERROR", 3000);
		        }
		    });			
		}
				
		function openPopupUser(userId, event) {		
			event.preventDefault();
			$('#modify-modal').addClass('is-visible');
 			document.getElementById('userEntId').value = document.getElementById("modificaLink_" + userId).getAttribute('data-eid');
			document.getElementById('userEntId').readOnly = true;
			
			/* il campo userId in realtà era stato pensato all'inizio, si usa invece come chiave la enterprise id */
			document.getElementById('userId').value = userId;
			document.getElementById('userId').readOnly = true;
		}		
		
		// Quando l'utente clicca sulla CTA, mostra o nasconde la dropdown
		function ctaFunction(idDiv) {			
			// PER CHIUDERE EVENTUALI POPUP MENU APERTI - START
			var dropdowns = document.getElementsByClassName("dropdown-content");
			var i;
			for (i = 0; i < dropdowns.length; i++) {
				var openDropdown = dropdowns[i];			  
				if(!(openDropdown.id == idDiv)) {
					if (openDropdown.classList.contains('show')) {
				    	openDropdown.classList.remove('show');
					}				  				  
				}
			}			
			// PER CHIUDERE EVENTUALI POPUP MENU APERTI - END			
			document.getElementById(idDiv).classList.toggle("show");
		}
		
		// Chiude la dropdown se l'utente clicca fuori da essa
		window.onclick = function(event) {
 			if (!(event.target.id.includes("ctaDropdown") || event.target.id.includes("ctaImg"))) {
			  var dropdowns = document.getElementsByClassName("dropdown-content");
			  var i;
			  for (i = 0; i < dropdowns.length; i++) {
			    var openDropdown = dropdowns[i];
			    if (openDropdown.classList.contains('show')) {
			      openDropdown.classList.remove('show');
			    }
			  }
			}
		}		
		</script>          
    </body>
</html>
